Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Don't write headers if value is empty (#831)
  src/HTTP.jl
  src/Messages.jl
  test/messages.jl
Labels: test

Remove comment mode regex for multipart parsing
  src/parsemultipart.jl
Labels: none

fix tests
  src/parsemultipart.jl
  test/parsemultipart.jl
Labels: test

Remove comment mode regex for multipart parsing (#832)
  src/parsemultipart.jl
  test/parsemultipart.jl
Labels: test

Don't proxy localhost requests
  src/ConnectionRequest.jl
Labels: none

Incorporate code from @liupgd to fix websocket proxying to fix #705
  src/ConnectionRequest.jl
Labels: none

Couple of proxy fixes (#833)
  src/ConnectionRequest.jl
Labels: none

don't add gz if we are given a local filepath
  src/download.jl
  test/download.jl
Labels: test

Big update to cookie code
  src/CookieRequest.jl
  src/HTTP.jl
  src/Messages.jl
  src/cookiejar.jl
  src/cookies.jl
  test/client.jl
  test/cookies.jl
Labels: test

fix compat
  src/HTTP.jl
Labels: none

fix compat again
  src/HTTP.jl
  src/cookies.jl
Labels: none

fix compat finally
  src/cookiejar.jl
  src/cookies.jl
Labels: none

Add addcookie! method for convenience for adding cookies to Request/Response
  src/Messages.jl
  src/cookies.jl
  test/cookies.jl
Labels: test

Big update to cookie code (#836)
  src/CookieRequest.jl
  src/HTTP.jl
  src/Messages.jl
  src/cookiejar.jl
  src/cookies.jl
  test/client.jl
  test/cookies.jl
Labels: test

Initial work to overhaul debug logging
  Project.toml
  src/BasicAuthRequest.jl
  src/ConnectionPool.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/HTTP.jl
  src/Handlers.jl
  src/IODebug.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/Servers.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/TimeoutRequest.jl
  src/WebSockets.jl
  src/cookiejar.jl
  src/cookies.jl
  src/download.jl
Labels: none

Update src/DebugRequest.jl
  src/DebugRequest.jl
Labels: none

fix 1.6 compat
  src/DebugRequest.jl
Labels: none

don't add gz if we are given a local filepath (#835)
  src/download.jl
  test/download.jl
Labels: test

Initial work to overhaul debug logging (#826)
  Project.toml
  src/BasicAuthRequest.jl
  src/ConnectionPool.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/HTTP.jl
  src/Handlers.jl
  src/IODebug.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/Servers.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/TimeoutRequest.jl
  src/WebSockets.jl
  src/cookiejar.jl
  src/cookies.jl
  src/download.jl
Labels: none

Set server socket nagle to improve throughput
  src/Servers.jl
Labels: none

fix
  src/Servers.jl
Labels: none

Auto decompress gzip-encoding response bodies
  Project.toml
  src/DebugRequest.jl
  src/Messages.jl
  src/Parsers.jl
  src/StreamRequest.jl
  src/Strings.jl
  test/client.jl
Labels: test

fixes
  src/Messages.jl
  src/Parsers.jl
Labels: none

fix
  src/HTTP.jl
Labels: none

fix
  src/Messages.jl
Labels: none

fix'
  src/Messages.jl
Labels: none

fix
  src/StreamRequest.jl
  test/client.jl
Labels: test

Auto decompress gzip-encoding response bodies (#838)
  Project.toml
  src/DebugRequest.jl
  src/HTTP.jl
  src/Messages.jl
  src/Parsers.jl
  src/StreamRequest.jl
  src/Strings.jl
  test/client.jl
Labels: test

Start big doc update
  docs/src/index.md
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/Conditions.jl
  src/ConnectionPool.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/DefaultHeadersRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/Handlers.jl
  src/IOExtras.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/Parsers.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/Servers.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/Strings.jl
  src/TimeoutRequest.jl
  src/WebSockets.jl
  src/ascii.jl
  src/connectionpools.jl
  src/cookiejar.jl
  src/cookies.jl
  src/multipart.jl
  src/parsemultipart.jl
  src/sniff.jl
  test/ascii.jl
  test/utils.jl
Labels: test

fix LoggingExtras compat
  Project.toml
Labels: none

fix tests
  src/Parsers.jl
  test/parser.jl
Labels: test

more work
  src/HTTP.jl
  src/Handlers.jl
  src/IOExtras.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/Pairs.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/Servers.jl
  src/TimeoutRequest.jl
  src/multipart.jl
  src/sniff.jl
  test/messages.jl
Labels: test

HTTP.jl docstrings cleanup (#839)
  Project.toml
  docs/src/index.md
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/Conditions.jl
  src/ConnectionPool.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/DefaultHeadersRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/Handlers.jl
  src/IOExtras.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/Pairs.jl
  src/Parsers.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/Servers.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/Strings.jl
  src/TimeoutRequest.jl
  src/WebSockets.jl
  src/ascii.jl
  src/connectionpools.jl
  src/cookiejar.jl
  src/cookies.jl
  src/multipart.jl
  src/parsemultipart.jl
  src/sniff.jl
  test/ascii.jl
  test/messages.jl
  test/parser.jl
  test/utils.jl
Labels: test

proxy: islocalhost: ipv6 support
  src/ConnectionRequest.jl
Labels: none

Update ConnectionRequest.jl
  src/ConnectionRequest.jl
Labels: none

proxy: islocalhost: ipv6 support (#841)
  src/ConnectionRequest.jl
Labels: none

Cookie doc tweaks
  src/cookies.jl
Labels: none

Overhaul websockets code
  .github/workflows/ci.yml
  .gitignore
  Project.toml
  src/HTTP.jl
  src/Servers.jl
  src/WebSockets.jl
  test/mwe.jl
  test/websockets/config/fuzzingclient.json
  test/websockets/config/fuzzingserver.json
  test/websockets/websockets.jl
Labels: test, CI

Cookie doc tweaks (#842)
  src/cookies.jl
Labels: none

cleanup
  src/WebSockets.jl
  test/websockets/deno_client/server.jl
  test/websockets/websockets.jl
Labels: none

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
