Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

build based on c3bcd19
  dev/changelog/index.html
  dev/client/index.html
  dev/examples/index.html
  dev/index.html
  dev/reference/index.html
  dev/search/index.html
  dev/server/index.html
  dev/websockets/index.html
Labels: none

build based on c3bcd19
  stable
  v1
  v1.10
  v1.10.13/assets/documenter.js
  v1.10.13/assets/search.js
  v1.10.13/assets/themes/documenter-dark.css
  v1.10.13/assets/themes/documenter-light.css
  v1.10.13/assets/themeswap.js
  v1.10.13/assets/warner.js
  v1.10.13/changelog/index.html
  v1.10.13/client/index.html
  v1.10.13/examples/index.html
  v1.10.13/index.html
  v1.10.13/reference/index.html
  v1.10.13/search/index.html
  v1.10.13/search_index.js
  v1.10.13/server/index.html
  v1.10.13/siteinfo.js
  v1.10.13/websockets/index.html
  versions.js
Labels: none

soft error precompile workload
  src/precompile.jl
Labels: none

Update precompile.jl
  src/precompile.jl
Labels: none

Update precompile.jl
  src/precompile.jl
Labels: none

Soft error the precompile workload (#1205)
  src/precompile.jl
Labels: none

Bump version to 1.10.14
  Project.toml
Labels: none

Do not migrate tasks to a different thread pool (backport of #1159)
  Project.toml
  src/clientlayers/StreamRequest.jl
Labels: none

Do not migrate tasks to a different thread pool (backport of #1159) (#1206)
  Project.toml
  src/clientlayers/StreamRequest.jl
Labels: none

build based on 0cfe5ce
  v1.9
  v1.9.19/assets/documenter.js
  v1.9.19/assets/search.js
  v1.9.19/assets/themes/documenter-dark.css
  v1.9.19/assets/themes/documenter-light.css
  v1.9.19/assets/themeswap.js
  v1.9.19/assets/warner.js
  v1.9.19/client/index.html
  v1.9.19/examples/index.html
  v1.9.19/index.html
  v1.9.19/reference/index.html
  v1.9.19/search/index.html
  v1.9.19/search_index.js
  v1.9.19/server/index.html
  v1.9.19/siteinfo.js
  v1.9.19/websockets/index.html
Labels: none

Optimize writeframe mem allocations
  Project.toml
  src/WebSockets.jl
Labels: none

More cleanup and get more tests passing; port all the multipart parsing over to new package
  Project.toml
  src/HTTP.jl
  src/Sniff.jl
  src/access_log.jl
  src/client/client.jl
  src/client/connection.jl
  src/client/makerequest.jl
  src/client/redirects.jl
  src/client/request.jl
  src/client/retry.jl
  src/client/stream.jl
  src/forms.jl
  src/oldclient.jl
  src/requestresponse.jl
  src/types.jl
  src/utils.jl
  test/multipart.jl
  test/runtests.jl
Labels: test

Always close precompile server
  src/precompile.jl
Labels: none

build based on 64e31aa
  previews/PR1209/assets/documenter.js
  previews/PR1209/assets/search.js
  previews/PR1209/assets/themes/documenter-dark.css
  previews/PR1209/assets/themes/documenter-light.css
  previews/PR1209/assets/themeswap.js
  previews/PR1209/assets/warner.js
  previews/PR1209/changelog/index.html
  previews/PR1209/client/index.html
  previews/PR1209/examples/index.html
  previews/PR1209/index.html
  previews/PR1209/reference/index.html
  previews/PR1209/search/index.html
  previews/PR1209/search_index.js
  previews/PR1209/server/index.html
  previews/PR1209/siteinfo.js
  previews/PR1209/websockets/index.html
Labels: none

Always close precompile server (#1209)
  src/precompile.jl
Labels: none

v1.10.15
  Project.toml
Labels: none

build based on d13c17c
  dev/changelog/index.html
  dev/client/index.html
  dev/examples/index.html
  dev/index.html
  dev/reference/index.html
  dev/search/index.html
  dev/server/index.html
  dev/websockets/index.html
Labels: none

build based on d13c17c
  stable
  v1
  v1.10
  v1.10.15/assets/documenter.js
  v1.10.15/assets/search.js
  v1.10.15/assets/themes/documenter-dark.css
  v1.10.15/assets/themes/documenter-light.css
  v1.10.15/assets/themeswap.js
  v1.10.15/assets/warner.js
  v1.10.15/changelog/index.html
  v1.10.15/client/index.html
  v1.10.15/examples/index.html
  v1.10.15/index.html
  v1.10.15/reference/index.html
  v1.10.15/search/index.html
  v1.10.15/search_index.js
  v1.10.15/server/index.html
  v1.10.15/siteinfo.js
  v1.10.15/websockets/index.html
  versions.js
Labels: none

skip precompile workload if localhost cannot be resolved
  src/HTTP.jl
  src/precompile.jl
Labels: none

skip precompile workload if localhost cannot be resolved (#1210)
  src/HTTP.jl
  src/precompile.jl
Labels: none

build based on 9db9aad
  dev/changelog/index.html
  dev/client/index.html
  dev/examples/index.html
  dev/index.html
  dev/reference/index.html
  dev/search/index.html
  dev/server/index.html
  dev/websockets/index.html
Labels: none

Fix some tests
  Project.toml
  src/HTTP.jl
  test/client.jl
  test/runtests.jl
Labels: test

Update compat bounds
  Project.toml
Labels: none

Fix tests
  src/HTTP.jl
  src/forms.jl
  src/handlers.jl
  src/sniff.jl
  src/websockets.jl
Labels: none

Fix bufferstream thread-safety with shim for now
  src/client/stream.jl
Labels: none

Fix windows Dates import
  src/HTTP.jl
Labels: none

No support for 32-bit; remove CI
  .github/workflows/ci.yml
Labels: CI

Updates
  CHANGELOG.md
  Project.toml
  src/HTTP.jl
  src/client/stream.jl
  src/forms.jl
  src/precompile.jl
  src/requestresponse.jl
  src/server.jl
Labels: none

Fix precompile
  Project.toml
  src/HTTP.jl
  src/client/client.jl
  src/precompile.jl
Labels: none

Compat for LibAwsHTTP
  Project.toml
Labels: none

Delete used IOBuffers constant (#1146)
  src/clientlayers/StreamRequest.jl
Labels: none

delete ByteView (#1149)
  src/Connections.jl
  src/IOExtras.jl
  src/Streams.jl
Labels: none

Update readbytes! to avoid using internal API of IOBuffer less (#1148)
  src/Streams.jl
  test/client.jl
Labels: test

build based on 014e20e
  previews/PR1214/assets/documenter.js
  previews/PR1214/assets/search.js
  previews/PR1214/assets/themes/documenter-dark.css
  previews/PR1214/assets/themes/documenter-light.css
  previews/PR1214/assets/themeswap.js
  previews/PR1214/assets/warner.js
  previews/PR1214/client/index.html
  previews/PR1214/examples/index.html
  previews/PR1214/index.html
  previews/PR1214/reference/index.html
  previews/PR1214/search/index.html
  previews/PR1214/search_index.js
  previews/PR1214/server/index.html
  previews/PR1214/siteinfo.js
  previews/PR1214/websockets/index.html
Labels: none

Add a testset block
  test/websockets/autobahn.jl
Labels: none

build based on df5d60f
  previews/PR1214/client/index.html
  previews/PR1214/examples/index.html
  previews/PR1214/index.html
  previews/PR1214/reference/index.html
  previews/PR1214/search/index.html
  previews/PR1214/server/index.html
  previews/PR1214/websockets/index.html
Labels: none

fixup! Add a testset block
  test/websockets/autobahn.jl
Labels: none

build based on d29aefd
  previews/PR1214/client/index.html
  previews/PR1214/examples/index.html
  previews/PR1214/index.html
  previews/PR1214/reference/index.html
  previews/PR1214/search/index.html
  previews/PR1214/server/index.html
  previews/PR1214/websockets/index.html
Labels: none

Add public names on supported Julia versions
  src/HTTP.jl
Labels: none

build based on 8cf3524
  previews/PR1215/assets/documenter.js
  previews/PR1215/assets/search.js
  previews/PR1215/assets/themes/documenter-dark.css
  previews/PR1215/assets/themes/documenter-light.css
  previews/PR1215/assets/themeswap.js
  previews/PR1215/assets/warner.js
  previews/PR1215/changelog/index.html
  previews/PR1215/client/index.html
  previews/PR1215/examples/index.html
  previews/PR1215/index.html
  previews/PR1215/reference/index.html
  previews/PR1215/search/index.html
  previews/PR1215/search_index.js
  previews/PR1215/server/index.html
  previews/PR1215/siteinfo.js
  previews/PR1215/websockets/index.html
Labels: none

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
