Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Update Project.toml
  Project.toml
Labels: none

build based on f2b1265
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
Labels: none

build based on f4cb20f
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
Labels: none

build based on 444b92b
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/objects.inv
Labels: none

build based on 444b92b
  stable
  v2
  v2.6
  v2.6.4/.documenter-siteinfo.json
  v2.6.4/api/client/index.html
  v2.6.4/api/core/index.html
  v2.6.4/api/reference/index.html
  v2.6.4/api/server/index.html
  v2.6.4/api/websockets/index.html
  v2.6.4/assets/documenter.js
  v2.6.4/assets/themes/catppuccin-frappe.css
  v2.6.4/assets/themes/catppuccin-latte.css
  v2.6.4/assets/themes/catppuccin-macchiato.css
  v2.6.4/assets/themes/catppuccin-mocha.css
  v2.6.4/assets/themes/documenter-dark.css
  v2.6.4/assets/themes/documenter-light.css
  v2.6.4/assets/themeswap.js
  v2.6.4/assets/warner.js
  v2.6.4/guides/client/index.html
  v2.6.4/guides/migration-1x/index.html
  v2.6.4/guides/protocols/index.html
  v2.6.4/guides/server/index.html
  v2.6.4/index.html
  v2.6.4/objects.inv
  v2.6.4/search_index.js
  v2.6.4/siteinfo.js
  versions.js
Labels: none

Write cookie attributes one value per call in stringify
  src/http_cookies.jl
Labels: none

test: cover cookie stringify in trim builds
  test/http_cookie_tests.jl
  test/http_trim_cookies.jl
  test/trim_compile_tests.jl
Labels: test

Write cookie attributes one value per call in stringify (#1350)
  src/http_cookies.jl
  test/http_cookie_tests.jl
  test/http_trim_cookies.jl
  test/trim_compile_tests.jl
Labels: test

chore(release): bump version to 2.6.5
  Project.toml
Labels: none

Preserve explicit Content-Length on bodyless server responses
  src/http1.jl
  src/http_server_streams.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
Labels: test

Fix retry-budget exhaustion and correlated reused-connection death
  CHANGELOG.md
  docs/src/api/client.md
  docs/src/api/core.md
  src/HTTP.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_client_retry.jl
  src/http_core.jl
  src/http_retry.jl
  src/http_transport.jl
  test/http_client_transport_tests.jl
  test/http_core_tests.jl
  test/http_retry_tests.jl
Labels: test

Cover TLS dial-site wrapping and RetrySkippedEvent emission paths
  test/http2_client_tests.jl
  test/http_client_tests.jl
  test/http_client_transport_tests.jl
  test/http_retry_tests.jl
Labels: test

fix(client): harden retry and transport recovery
  CHANGELOG.md
  docs/src/guides/client.md
  src/http2_client.jl
  src/http_client.jl
  src/http_client_retry.jl
  src/http_core.jl
  src/http_retry.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http2_client_tests.jl
  test/http_client_tests.jl
  test/http_client_transport_tests.jl
  test/http_core_tests.jl
  test/http_retry_tests.jl
Labels: test

Centralize the TLS truncation-message classification
  CHANGELOG.md
  src/http_client_retry.jl
  src/http_retry.jl
  src/http_transport.jl
Labels: none

Fix retry-budget exhaustion and correlated reused-connection death (#1354)
  CHANGELOG.md
  docs/src/api/client.md
  docs/src/api/core.md
  docs/src/guides/client.md
  src/HTTP.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_client_retry.jl
  src/http_core.jl
  src/http_retry.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http2_client_tests.jl
  test/http_client_tests.jl
  test/http_client_transport_tests.jl
  test/http_core_tests.jl
  test/http_retry_tests.jl
Labels: test

Preserve explicit Content-Length on bodyless server responses (#1352)
  src/http1.jl
  src/http_server_streams.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

fix(retry): keep depletion tracking pointer-free
  src/http_retry.jl
  test/http_retry_tests.jl
Labels: test

ci(compat): test supported Julia 1.10
  .github/workflows/ci.yml
  test/public_api_tests.jl
Labels: test, CI

chore(release): bump version to 2.6.7
  Project.toml
Labels: none

fix(retry): derive the compat constructor's depleted count from partition states
  src/http_retry.jl
  test/http_retry_tests.jl
Labels: test

Fix retry bucket corruption on Julia 1.10 (#1356)
  .github/workflows/ci.yml
  Project.toml
  src/http_retry.jl
  test/http_retry_tests.jl
  test/public_api_tests.jl
Labels: test, CI

build based on 769b917
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/assets/documenter.js
  dev/assets/themes/catppuccin-frappe.css
  dev/assets/themes/catppuccin-latte.css
  dev/assets/themes/catppuccin-macchiato.css
  dev/assets/themes/catppuccin-mocha.css
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/objects.inv
Labels: none

build based on 769b917
  stable
  v2
  v2.6
  v2.6.7/.documenter-siteinfo.json
  v2.6.7/api/client/index.html
  v2.6.7/api/core/index.html
  v2.6.7/api/reference/index.html
  v2.6.7/api/server/index.html
  v2.6.7/api/websockets/index.html
  v2.6.7/assets/documenter.js
  v2.6.7/assets/themes/catppuccin-frappe.css
  v2.6.7/assets/themes/catppuccin-latte.css
  v2.6.7/assets/themes/catppuccin-macchiato.css
  v2.6.7/assets/themes/catppuccin-mocha.css
  v2.6.7/assets/themes/documenter-dark.css
  v2.6.7/assets/themes/documenter-light.css
  v2.6.7/assets/themeswap.js
  v2.6.7/assets/warner.js
  v2.6.7/guides/client/index.html
  v2.6.7/guides/migration-1x/index.html
  v2.6.7/guides/protocols/index.html
  v2.6.7/guides/server/index.html
  v2.6.7/index.html
  v2.6.7/objects.inv
  v2.6.7/search_index.js
  v2.6.7/siteinfo.js
  versions.js
Labels: none

Expire the cookie on Set-Cookie Max-Age=0
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Reject invalid decimal syntax in cookie Max-Age
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Expire the cookie on Set-Cookie Max-Age=0 (#1357)
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Honor server Keep-Alive timeout hints in the HTTP/1 connection pool
  CHANGELOG.md
  src/http_transport.jl
  test/http_client_transport_tests.jl
Labels: test

Add setheader!, appendheader! and removeheader! aliases
  CHANGELOG.md
  docs/src/api/core.md
  src/HTTP.jl
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Copy the per-request TLS config through Reseau's keyword copy constructor
  Project.toml
  src/http_transport.jl
Labels: none

Copy the per-request TLS config through Reseau's keyword copy constructor (#1363)
  Project.toml
  src/http_transport.jl
Labels: none

Add setheader!, appendheader! and removeheader! aliases (#1359)
  CHANGELOG.md
  docs/src/api/core.md
  src/HTTP.jl
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Honor server Keep-Alive timeout hints in the HTTP/1 connection pool (#1358)
  CHANGELOG.md
  src/http_transport.jl
  test/http_client_transport_tests.jl
Labels: test

build based on 9bde0d0
  previews/PR1364/.documenter-siteinfo.json
  previews/PR1364/api/client/index.html
  previews/PR1364/api/core/index.html
  previews/PR1364/api/reference/index.html
  previews/PR1364/api/server/index.html
  previews/PR1364/api/websockets/index.html
  previews/PR1364/assets/documenter.js
  previews/PR1364/assets/themes/catppuccin-frappe.css
  previews/PR1364/assets/themes/catppuccin-latte.css
  previews/PR1364/assets/themes/catppuccin-macchiato.css
  previews/PR1364/assets/themes/catppuccin-mocha.css
  previews/PR1364/assets/themes/documenter-dark.css
  previews/PR1364/assets/themes/documenter-light.css
  previews/PR1364/assets/themeswap.js
  previews/PR1364/assets/warner.js
  previews/PR1364/guides/client/index.html
  previews/PR1364/guides/migration-1x/index.html
  previews/PR1364/guides/protocols/index.html
  previews/PR1364/guides/server/index.html
  previews/PR1364/index.html
  previews/PR1364/objects.inv
  previews/PR1364/search_index.js
  previews/PR1364/siteinfo.js
Labels: none

Write Host as the first HTTP/1.1 request header field
  CHANGELOG.md
  src/http1.jl
  test/http1_wire_tests.jl
  test/http_client_tests.jl
Labels: test

build based on 245fd09
  previews/PR1365/.documenter-siteinfo.json
  previews/PR1365/api/client/index.html
  previews/PR1365/api/core/index.html
  previews/PR1365/api/reference/index.html
  previews/PR1365/api/server/index.html
  previews/PR1365/api/websockets/index.html
  previews/PR1365/assets/documenter.js
  previews/PR1365/assets/themes/catppuccin-frappe.css
  previews/PR1365/assets/themes/catppuccin-latte.css
  previews/PR1365/assets/themes/catppuccin-macchiato.css
  previews/PR1365/assets/themes/catppuccin-mocha.css
  previews/PR1365/assets/themes/documenter-dark.css
  previews/PR1365/assets/themes/documenter-light.css
  previews/PR1365/assets/themeswap.js
  previews/PR1365/assets/warner.js
  previews/PR1365/guides/client/index.html
  previews/PR1365/guides/migration-1x/index.html
  previews/PR1365/guides/protocols/index.html
  previews/PR1365/guides/server/index.html
  previews/PR1365/index.html
  previews/PR1365/objects.inv
  previews/PR1365/search_index.js
  previews/PR1365/siteinfo.js
Labels: none

build based on 26be5dd
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/search_index.js
Labels: none

build based on 8388a54
  previews/PR1366/.documenter-siteinfo.json
  previews/PR1366/api/client/index.html
  previews/PR1366/api/core/index.html
  previews/PR1366/api/reference/index.html
  previews/PR1366/api/server/index.html
  previews/PR1366/api/websockets/index.html
  previews/PR1366/assets/documenter.js
  previews/PR1366/assets/themes/catppuccin-frappe.css
  previews/PR1366/assets/themes/catppuccin-latte.css
  previews/PR1366/assets/themes/catppuccin-macchiato.css
  previews/PR1366/assets/themes/catppuccin-mocha.css
  previews/PR1366/assets/themes/documenter-dark.css
  previews/PR1366/assets/themes/documenter-light.css
  previews/PR1366/assets/themeswap.js
  previews/PR1366/assets/warner.js
  previews/PR1366/guides/client/index.html
  previews/PR1366/guides/migration-1x/index.html
  previews/PR1366/guides/protocols/index.html
  previews/PR1366/guides/server/index.html
  previews/PR1366/index.html
  previews/PR1366/objects.inv
  previews/PR1366/search_index.js
  previews/PR1366/siteinfo.js
Labels: none

Skip informational (1xx) header blocks in the HTTP/2 client
  CHANGELOG.md
  src/http2_client.jl
  test/http2_client_tests.jl
Labels: test

Publish llms.txt and llms-full.txt with the documentation
  CHANGELOG.md
  docs/llms.jl
  docs/make.jl
  docs/src/index.md
Labels: ðŸ“– documentation

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
