Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

build based on 20c009f
  previews/PR1374/.documenter-siteinfo.json
  previews/PR1374/api/client/index.html
  previews/PR1374/api/core/index.html
  previews/PR1374/api/reference/index.html
  previews/PR1374/api/server/index.html
  previews/PR1374/api/websockets/index.html
  previews/PR1374/assets/documenter.js
  previews/PR1374/assets/themes/catppuccin-frappe.css
  previews/PR1374/assets/themes/catppuccin-latte.css
  previews/PR1374/assets/themes/catppuccin-macchiato.css
  previews/PR1374/assets/themes/catppuccin-mocha.css
  previews/PR1374/assets/themes/documenter-dark.css
  previews/PR1374/assets/themes/documenter-light.css
  previews/PR1374/assets/themeswap.js
  previews/PR1374/assets/warner.js
  previews/PR1374/guides/client/index.html
  previews/PR1374/guides/migration-1x/index.html
  previews/PR1374/guides/protocols/index.html
  previews/PR1374/guides/server/index.html
  previews/PR1374/index.html
  previews/PR1374/llms-full.txt
  previews/PR1374/llms.txt
  previews/PR1374/objects.inv
  previews/PR1374/search_index.js
  previews/PR1374/siteinfo.js
Labels: none

build based on 38b6683
  previews/PR1375/.documenter-siteinfo.json
  previews/PR1375/api/client/index.html
  previews/PR1375/api/core/index.html
  previews/PR1375/api/reference/index.html
  previews/PR1375/api/server/index.html
  previews/PR1375/api/websockets/index.html
  previews/PR1375/assets/documenter.js
  previews/PR1375/assets/themes/catppuccin-frappe.css
  previews/PR1375/assets/themes/catppuccin-latte.css
  previews/PR1375/assets/themes/catppuccin-macchiato.css
  previews/PR1375/assets/themes/catppuccin-mocha.css
  previews/PR1375/assets/themes/documenter-dark.css
  previews/PR1375/assets/themes/documenter-light.css
  previews/PR1375/assets/themeswap.js
  previews/PR1375/assets/warner.js
  previews/PR1375/guides/client/index.html
  previews/PR1375/guides/migration-1x/index.html
  previews/PR1375/guides/protocols/index.html
  previews/PR1375/guides/server/index.html
  previews/PR1375/index.html
  previews/PR1375/llms-full.txt
  previews/PR1375/llms.txt
  previews/PR1375/objects.inv
  previews/PR1375/search_index.js
  previews/PR1375/siteinfo.js
Labels: none

Preserve empty header values in get (#1373)
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Accept tuples of header entries (#1375)
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Preserve owned headers and bound buffered transfer allocations
  .github/workflows/ci.yml
  bench/buffered_upload_allocations.jl
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http1.jl
  src/http2.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_core.jl
  src/http_stream.jl
  src/http_transport.jl
  test/runtests.jl
  test/transfer_ownership_tests.jl
Labels: test, CI

Keep string-backed uploads linear and preserve scripted peer lifetime
  bench/buffered_upload_allocations.jl
  src/http1.jl
  src/http2_client.jl
  src/http_core.jl
  src/http_transport.jl
  test/http2_client_tests.jl
  test/transfer_ownership_tests.jl
Labels: test

Keep string owners safe through transport cancellation
  src/http_core.jl
Labels: none

Cover downstream vector-only response body compatibility
  test/transfer_ownership_tests.jl
Labels: test

Route Headers vectors through mkheaders and accept any input with copyheaders=false
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http1.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_core.jl
  src/http_transport.jl
  test/http_core_tests.jl
  test/transfer_ownership_tests.jl
Labels: test

Clarify functional and allocation test coverage
  docs/src/guides/client.md
Labels: none

Fix string-body copies at the source and tighten transfer docs
  docs/src/guides/client.md
  src/http2_client.jl
  src/http_core.jl
  test/transfer_ownership_tests.jl
Labels: test

Preserve owned headers and bound buffered transfer allocations (#1374)
  .github/workflows/ci.yml
  bench/buffered_upload_allocations.jl
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http1.jl
  src/http2.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_core.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http2_client_tests.jl
  test/http_core_tests.jl
  test/runtests.jl
  test/transfer_ownership_tests.jl
Labels: test, CI

Coalesce small fixed-length HTTP/1 stream responses
  bench/fixed_response_writes.jl
  src/http_handlers.jl
  src/http_server.jl
  src/http_server_streams.jl
  test/http_server_http1_tests.jl
Labels: test

Prevent retries after any failed HTTP/1 stream write
  src/http_server_streams.jl
  test/http_server_http1_tests.jl
Labels: test

Append the small body to header bytes without IOBuffer growth
  src/http_server_streams.jl
Labels: none

Keep benchmark payload globals type stable
  bench/fixed_response_writes.jl
Labels: none

Take the buffered fixed-length body once in closewrite
  src/http_server_streams.jl
Labels: none

Close the connection after a failed HTTP/1 stream write
  src/http_server_streams.jl
  test/http_server_http1_tests.jl
Labels: test

Keep caller spelling of header names and match names case-insensitively
  CHANGELOG.md
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_core.jl
  src/http_display.jl
  src/http_stream.jl
  test/http1_wire_tests.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
  test/http_client_tests.jl
  test/http_core_tests.jl
  test/transfer_ownership_tests.jl
Labels: test

Show the Host line the HTTP/1 writer sends when displaying a request
  CHANGELOG.md
  src/http_display.jl
  test/http_core_tests.jl
Labels: test

Merge received HTTP/2 trailers in one pass and end split trailer blocks correctly
  CHANGELOG.md
  src/http2_client.jl
  src/http2_server.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
Labels: test

Check trailer merges by wire order instead of elapsed time
  test/http2_client_tests.jl
  test/http2_server_tests.jl
Labels: test

Cover the Content-Length check at the end of a split trailer block
  test/http2_server_tests.jl
Labels: test

Coalesce small fixed-length HTTP/1 stream responses (#1376)
  bench/fixed_response_writes.jl
  src/http_handlers.jl
  src/http_server.jl
  src/http_server_streams.jl
  test/http_server_http1_tests.jl
Labels: test

Keep case-insensitive header enumeration linear
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Show the Host line the HTTP/1 writer sends when displaying a request (#1379)
  CHANGELOG.md
  src/http_display.jl
  test/http_core_tests.jl
Labels: test

Merge received HTTP/2 trailers in one pass and end split trailer blocks correctly (#1380)
  CHANGELOG.md
  src/http2_client.jl
  src/http2_server.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
Labels: test

Keep caller spelling of header names and match names case-insensitively (#1378)
  CHANGELOG.md
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_core.jl
  src/http_stream.jl
  test/http1_wire_tests.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
  test/http_client_tests.jl
  test/http_core_tests.jl
  test/transfer_ownership_tests.jl
Labels: test

Prepare HTTP 2.8.0 release
  Project.toml
Labels: none

build based on 78798f0
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/llms-full.txt
  dev/llms.txt
  dev/objects.inv
  dev/search_index.js
Labels: none

build based on f8de24e
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/llms-full.txt
  dev/llms.txt
  dev/objects.inv
Labels: none

build based on 78798f0
  v2
  v2.8
  v2.8.0/.documenter-siteinfo.json
  v2.8.0/api/client/index.html
  v2.8.0/api/core/index.html
  v2.8.0/api/reference/index.html
  v2.8.0/api/server/index.html
  v2.8.0/api/websockets/index.html
  v2.8.0/assets/documenter.js
  v2.8.0/assets/themes/catppuccin-frappe.css
  v2.8.0/assets/themes/catppuccin-latte.css
  v2.8.0/assets/themes/catppuccin-macchiato.css
  v2.8.0/assets/themes/catppuccin-mocha.css
  v2.8.0/assets/themes/documenter-dark.css
  v2.8.0/assets/themes/documenter-light.css
  v2.8.0/assets/themeswap.js
  v2.8.0/assets/warner.js
  v2.8.0/guides/client/index.html
  v2.8.0/guides/migration-1x/index.html
  v2.8.0/guides/protocols/index.html
  v2.8.0/guides/server/index.html
  v2.8.0/index.html
  v2.8.0/llms-full.txt
  v2.8.0/llms.txt
  v2.8.0/objects.inv
  v2.8.0/search_index.js
  v2.8.0/siteinfo.js
  versions.js
Labels: none

Keep HTTP/1 read deadlines within their request phase
  docs/src/guides/server.md
  src/http_server.jl
  test/http_server_http1_tests.jl
Labels: test

build based on 5dfc798
  previews/PR1382/.documenter-siteinfo.json
  previews/PR1382/api/client/index.html
  previews/PR1382/api/core/index.html
  previews/PR1382/api/reference/index.html
  previews/PR1382/api/server/index.html
  previews/PR1382/api/websockets/index.html
  previews/PR1382/assets/documenter.js
  previews/PR1382/assets/themes/catppuccin-frappe.css
  previews/PR1382/assets/themes/catppuccin-latte.css
  previews/PR1382/assets/themes/catppuccin-macchiato.css
  previews/PR1382/assets/themes/catppuccin-mocha.css
  previews/PR1382/assets/themes/documenter-dark.css
  previews/PR1382/assets/themes/documenter-light.css
  previews/PR1382/assets/themeswap.js
  previews/PR1382/assets/warner.js
  previews/PR1382/guides/client/index.html
  previews/PR1382/guides/migration-1x/index.html
  previews/PR1382/guides/protocols/index.html
  previews/PR1382/guides/server/index.html
  previews/PR1382/index.html
  previews/PR1382/llms-full.txt
  previews/PR1382/llms.txt
  previews/PR1382/objects.inv
  previews/PR1382/search_index.js
  previews/PR1382/siteinfo.js
Labels: none

Preserve redirect path and query components
  docs/src/guides/client.md
  src/http_client_redirect.jl
  test/http_client_tests.jl
  test/http_trim_redirect.jl
  test/http_websocket_client_tests.jl
  test/trim_compile_tests.jl
Labels: test

build based on 342d908
  previews/PR1383/.documenter-siteinfo.json
  previews/PR1383/api/client/index.html
  previews/PR1383/api/core/index.html
  previews/PR1383/api/reference/index.html
  previews/PR1383/api/server/index.html
  previews/PR1383/api/websockets/index.html
  previews/PR1383/assets/documenter.js
  previews/PR1383/assets/themes/catppuccin-frappe.css
  previews/PR1383/assets/themes/catppuccin-latte.css
  previews/PR1383/assets/themes/catppuccin-macchiato.css
  previews/PR1383/assets/themes/catppuccin-mocha.css
  previews/PR1383/assets/themes/documenter-dark.css
  previews/PR1383/assets/themes/documenter-light.css
  previews/PR1383/assets/themeswap.js
  previews/PR1383/assets/warner.js
  previews/PR1383/guides/client/index.html
  previews/PR1383/guides/migration-1x/index.html
  previews/PR1383/guides/protocols/index.html
  previews/PR1383/guides/server/index.html
  previews/PR1383/index.html
  previews/PR1383/llms-full.txt
  previews/PR1383/llms.txt
  previews/PR1383/objects.inv
  previews/PR1383/search_index.js
  previews/PR1383/siteinfo.js
Labels: none

Join repeated HTTP/1 Cookie lines with "; "
  CHANGELOG.md
  src/http1.jl
  test/http1_wire_tests.jl
Labels: test

Keep failing response bodies out of byte-buffer response_stream sinks
  CHANGELOG.md
  src/http_client.jl
  test/http_client_tests.jl
Labels: test

Join repeated Cookie values with "; " in appendheader
  CHANGELOG.md
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Join received header lines in one pass
  CHANGELOG.md
  src/http1.jl
  src/http2_client.jl
  src/http2_server.jl
  src/http_core.jl
  test/http1_wire_tests.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
Labels: test
