Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Make debugging macros insert branches on DEBUG_LEVEL (#356)
  src/debug.jl
Labels: none

Two changes to fix windows tests
  src/ConnectionPool.jl
  test/server.jl
Labels: test

additional fixes
  src/ConnectionPool.jl
  test/server.jl
Labels: test

Remove deprecated tests that failed on windows
  test/multipart.jl
Labels: test

Two changes to fix windows tests (#802)
  src/ConnectionPool.jl
  test/multipart.jl
  test/server.jl
Labels: test

CI for Julia 1.8 beta 1
  .github/workflows/ci.yml
Labels: CI

CI for Julia 1.8 beta 1 (#804)
  .github/workflows/ci.yml
Labels: CI

Delete the `snoop.jl` file
  snoop.jl
Labels: none

Reduce the time-to-first-request by adding pregenerated precompile statements
  contrib/precompile_generate.jl
  src/HTTP.jl
  src/precompile.jl
Labels: none

Add a GitHub Actions workflow for regenerating the list of precompile statements
  .github/workflows/precompile.yml
Labels: CI

Delete the `snoop.jl` file (#806)
  snoop.jl
Labels: none

Sec-WebSocket-Accept: strip input key
  src/WebSockets.jl
Labels: none

WebSocket: test HTTP.jl server against Deno client
  Project.toml
  test/runtests.jl
  test/websockets/deno_client/client_test.ts
  test/websockets/deno_client/server.jl
Labels: test

move existing websocket tests
  test/runtests.jl
  test/websockets/websockets.jl
Labels: test

Tests: Don't use port 1234
  test/server.jl
Labels: test

only run Deno tests when available for the system (not 32 bit)
  test/websockets/deno_client/server.jl
Labels: none

cleaner test failure output
  test/websockets/deno_client/server.jl
Labels: none

Extra test to help with debugging
  test/websockets/deno_client/server.jl
Labels: none

add grace period after close message on client
  test/websockets/deno_client/client_test.ts
  test/websockets/deno_client/server.jl
Labels: none

Tests: Don't use port 1234 to avoid clashes with a running Pluto server (#809)
  test/server.jl
Labels: test

Sec-WebSocket-Accept: strip whitespace from input key (#808)
  src/WebSockets.jl
Labels: none

Remove use of at-eval in handlers register macro
  src/Handlers.jl
  test/handlers.jl
Labels: test

Remove show statements
  src/Handlers.jl
Labels: none

Remove use of at-eval in handlers register macro (#812)
  src/Handlers.jl
  test/handlers.jl
Labels: test

Update pipeline_limit in docs
  src/HTTP.jl
Labels: none

more iterating/ideas around revamping the client request stack/stacking mechanisms
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/TimeoutRequest.jl
  src/layers.jl
  test/client.jl
  test/resources/TestRequest.jl
Labels: test

Change internal layers stack to be value-based instead of type-based
  src/ConnectionRequest.jl
  src/HTTP.jl
  src/MessageRequest.jl
  src/StreamRequest.jl
  src/TimeoutRequest.jl
  src/TopRequest.jl
  src/exceptions.jl
  src/layers.jl
Labels: none

move stuff around
  src/HTTP.jl
  src/layers.jl
Labels: none

more work
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/IOExtras.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/TimeoutRequest.jl
  src/layers.jl
  test/chunking.jl
  test/client.jl
  test/resources/TestRequest.jl
  test/server.jl
Labels: test

Another refactor to move layers to a more functional architecture and drastically reduce the interface requirements
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/IOExtras.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/multipart.jl
  src/sniff.jl
  test/client.jl
  test/cookies.jl
  test/loopback.jl
  test/messages.jl
  test/server.jl
Labels: test

more work
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/MessageRequest.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/TimeoutRequest.jl
  src/layers.jl
Labels: none

more work for value-based stack
  docs/src/internal_architecture.md
  src/AWS4AuthRequest.jl
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/MessageRequest.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/TimeoutRequest.jl
  src/TopRequest.jl
  src/layers.jl
  test/aws4.jl
  test/client.jl
  test/insert_layers.jl
  test/resources/TestRequest.jl
  test/runtests.jl
Labels: test

Fix 32-bit by ensuring consistent order of layers
  src/HTTP.jl
Labels: none

work
  src/RedirectRequest.jl
  src/layers.jl
Labels: none

fix tests
  src/HTTP.jl
Labels: none

more cleanup
  src/BasicAuthRequest.jl
  src/CanonicalizeRequest.jl
  src/ConnectionRequest.jl
  src/ContentTypeRequest.jl
  src/CookieRequest.jl
  src/DebugRequest.jl
  src/DefaultHeadersRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/MessageRequest.jl
  src/Messages.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/TimeoutRequest.jl
  test/client.jl
  test/loopback.jl
  test/resources/TestRequest.jl
  test/server.jl
Labels: test

fix failing tests
  src/DefaultHeadersRequest.jl
  src/Messages.jl
  src/StreamRequest.jl
  test/client.jl
  test/loopback.jl
Labels: test

add global stack state w/ modifiers
  src/HTTP.jl
Labels: none

a little more cleanup
  src/ConnectionRequest.jl
  src/ExceptionRequest.jl
  src/MessageRequest.jl
  src/StreamRequest.jl
Labels: none

simpler test to pass on windows
  test/websockets/deno_client/client_test.ts
  test/websockets/deno_client/server.jl
Labels: none

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
