Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

permessage-deflate support
  src/WebSockets.jl
Labels: none

fix array allocation
  src/WebSockets.jl
Labels: none

fix codec initializing
  src/WebSockets.jl
Labels: none

fix monitor_idle_connection for MbedTLS.SSLContext
  src/ConnectionPool.jl
Labels: none

fix monitor_idle_connection for MbedTLS.SSLContext (#901)
  src/ConnectionPool.jl
Labels: none

Bump to version v1.2.1
  Project.toml
Labels: none

Fix docs
  src/HTTP.jl
Labels: none

A grab-bag of improvements
  src/HTTP.jl
  src/Messages.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
Labels: none

A grab-bag of improvements (#904)
  src/HTTP.jl
  src/Messages.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
Labels: none

Add ability to listenany for HTTP servers
  src/Servers.jl
  test/server.jl
Labels: test

We don't need to test on 1.6 explicitly anymore
  .github/workflows/ci.yml
Labels: CI

Revert "Update src/download.jl"
  src/download.jl
Labels: none

Add ability to listenany for HTTP servers (#905)
  src/Servers.jl
  test/server.jl
Labels: test

Fix HTTP.download stack overflow error on "/" paths (#897)
  src/Messages.jl
  src/download.jl
  test/download.jl
Labels: test

Update ci.yml
  .github/workflows/ci.yml
Labels: CI

Update ci.yml
  .github/workflows/ci.yml
Labels: CI

disallow bugs in `@try` usage
  src/Exceptions.jl
  src/Servers.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

1.6 seems to need a yield before the socket operations kick in and start working
  src/Messages.jl
  test/client.jl
Labels: test

put 1.6 back in ci
  .github/workflows/ci.yml
  src/Streams.jl
Labels: CI

reconfigure ci
  .github/workflows/ci.yml
Labels: CI

put windows back for all versions
  .github/workflows/ci.yml
Labels: CI

oops
  .github/workflows/ci.yml
Labels: CI

fix linux test
  test/client.jl
Labels: test

disallow bugs in @try usage (#908)
  .github/workflows/ci.yml
  src/Exceptions.jl
  src/Messages.jl
  src/Servers.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test, CI

fix import
  src/ConnectionPool.jl
Labels: none

Make monitor_idle_connections less noisy; follow up on https://github.com/JuliaLang/MbedTLS.jl/issues/250
  src/ConnectionPool.jl
Labels: none

Make monitor_idle_connections less noisy; follow up on https://github… (#907)
  src/ConnectionPool.jl
Labels: none

Cleanup all timeout code and places where we might timeout
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/connectionpools.jl
Labels: none

fixes
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/TimeoutRequest.jl
Labels: none

Cleanup all timeout code and places where we might timeout (#910)
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/connectionpools.jl
Labels: none

Bump version to v1.3.0
  Project.toml
Labels: none

Fix use of try_with_timeout
  src/clientlayers/ConnectionRequest.jl
Labels: none

Fix use of try_with_timeout (#911)
  src/clientlayers/ConnectionRequest.jl
Labels: none

Bump version to v1.3.1
  Project.toml
Labels: none

When monitoring idle connections, only call eof on tcp socket
  src/ConnectionPool.jl
Labels: none

simplify
  src/ConnectionPool.jl
Labels: none

When monitoring idle connections, only call eof on tcp socket (#912)
  src/ConnectionPool.jl
Labels: none

Bump version to v1.3.2
  Project.toml
Labels: none

Fix loopback tests
  test/loopback.jl
Labels: test

Fix loopback tests (#913)
  test/loopback.jl
Labels: test
