Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Remove LoggingExtras imports
  src/Connections.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/CookieRequest.jl
  src/clientlayers/HeadersRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/cookies.jl
Labels: none

Remove usage of deprecated verbosity macros (#1190)
  src/Connections.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/CookieRequest.jl
  src/clientlayers/HeadersRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/cookiejar.jl
  src/cookies.jl
  src/download.jl
Labels: none

Bump version to 1.10.9
  Project.toml
Labels: none

build based on 43d9326
  dev/changelog/index.html
  dev/client/index.html
  dev/examples/index.html
  dev/index.html
  dev/reference/index.html
  dev/search/index.html
  dev/server/index.html
  dev/websockets/index.html
Labels: none

Don't pass verbosity for withlevel call
  src/Servers.jl
  src/clientlayers/MessageRequest.jl
Labels: none

build based on 1e92b1a
  dev/changelog/index.html
  dev/client/index.html
  dev/examples/index.html
  dev/index.html
  dev/reference/index.html
  dev/search/index.html
  dev/server/index.html
  dev/websockets/index.html
Labels: none

build based on 1e92b1a
  stable
  v1
  v1.10
  v1.10.9/assets/documenter.js
  v1.10.9/assets/search.js
  v1.10.9/assets/themes/documenter-dark.css
  v1.10.9/assets/themes/documenter-light.css
  v1.10.9/assets/themeswap.js
  v1.10.9/assets/warner.js
  v1.10.9/changelog/index.html
  v1.10.9/client/index.html
  v1.10.9/examples/index.html
  v1.10.9/index.html
  v1.10.9/reference/index.html
  v1.10.9/search/index.html
  v1.10.9/search_index.js
  v1.10.9/server/index.html
  v1.10.9/siteinfo.js
  v1.10.9/websockets/index.html
  versions.js
Labels: none

Introduce `AbstractErrorHandler` and `error_callback`
  src/Exceptions.jl
  src/Servers.jl
Labels: none

feat: Add connection pool test suite
  test/connection_pool.jl
  test/parser.jl
  test/runtests.jl
Labels: test

work
  src/HTTP.jl
  src/WebSockets.jl
  src/connection.jl
  src/oldclient.jl
  src/retry.jl
  src/utils.jl
  test/websockets/autobahn.jl
  test/websockets/config/fuzzingclient.json
  test/websockets/config/fuzzingserver.json
  test/websockets/deno_client/client_test.ts
  test/websockets/deno_client/server.jl
Labels: none

Fix remaining server verbosity logs
  src/Servers.jl
Labels: none

Fix remaining server verbosity logs (#1193)
  src/Servers.jl
Labels: none

Bump version to 1.10.10
  Project.toml
Labels: none

add an offline precompile workload
  Project.toml
  src/HTTP.jl
  src/precompile.jl
Labels: none

suggestions
  src/precompile.jl
Labels: none

fix
  src/precompile.jl
Labels: none

tweak inits
  src/precompile.jl
Labels: none

Fix WebSocket concurrents send
  src/WebSockets.jl
  test/runtests.jl
  test/websockets/multiple_writers.jl
Labels: test

precompile https
  src/precompile.jl
Labels: none

only run workload if precompiling pkgimages
  src/HTTP.jl
Labels: none

Update/Fix CI setup
  .github/workflows/ci.yml
Labels: CI

Update ci.yml
  .github/workflows/ci.yml
Labels: CI

skip min on macos
  .github/workflows/ci.yml
Labels: CI

Update CI setup (#1198)
  .github/workflows/ci.yml
Labels: CI

Update src/precompile.jl
  src/precompile.jl
Labels: none

Revert "Update src/precompile.jl"
  src/precompile.jl
Labels: none

precompile wheter or not pkgimages are used
  src/HTTP.jl
Labels: none

add an offline precompile workload (#1195)
  Project.toml
  src/HTTP.jl
  src/precompile.jl
Labels: none

Bump version to 1.10.11
  Project.toml
Labels: none

Don't run the precompile workload on Julia 1.9
  src/HTTP.jl
Labels: none

Try out CI on Julia 1.9
  .github/workflows/ci.yml
Labels: CI

Run CI on Julia 1.9
  .github/workflows/ci.yml
Labels: CI

fix and test 1.9
  .github/workflows/ci.yml
  src/precompile.jl
Labels: CI

Update ci.yml
  .github/workflows/ci.yml
Labels: CI

Fix trailing task precompilation issue on 1.9. Run CI on 1.9 (#1201)
  .github/workflows/ci.yml
  src/precompile.jl
Labels: CI

Bump version to 1.10.12
  Project.toml
Labels: none

more work
  Project.toml
  src/HTTP.jl
  src/client.jl
  src/connection.jl
  src/cookiejar.jl
  src/cookies.jl
  src/makerequest.jl
  src/oldclient.jl
  src/redirects.jl
  src/request.jl
  src/requestresponse.jl
  src/retry.jl
  src/server.jl
  src/stream.jl
  src/utils.jl
  test/client.jl
  test/runtests.jl
Labels: test

Fix WebSocket concurrents send (#1197)
  src/WebSockets.jl
  test/runtests.jl
  test/websockets/multiple_writers.jl
Labels: test

Bump version to 1.10.13
  Project.toml
Labels: none

Bump version to 1.10.13 (#1203)
  Project.toml
Labels: none
