Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

fix(retry): use aws strategy only with partition
  src/client/retry.jl
  test/client.jl
Labels: test

feat(http2): add initial settings options
  src/client/client.jl
  src/client/connection.jl
  test/client.jl
Labels: test

docs(migrate): align with current v2 behavior
  docs/src/manual/migrate.md
Labels: none

feat(http2): add max closed streams option
  docs/src/manual/client.md
  src/client/client.jl
  test/client.jl
  test/multipart.jl
  test/runtests.jl
Labels: test

feat(http2): add initial window size option
  docs/src/manual/client.md
  src/client/client.jl
  test/client.jl
Labels: test

feat(http2): add manual window controls
  docs/src/manual/client.md
  src/client/client.jl
  src/client/connection.jl
  src/client/stream.jl
  test/client.jl
Labels: test

fix(http2): validate window sizes
  docs/src/manual/client.md
  src/client/client.jl
  src/client/connection.jl
  src/client/stream.jl
  src/utils.jl
  test/client.jl
Labels: test

Switch to pure Julia AwsIO/AwsHTTP packages
  Project.toml
  src/HTTP.jl
  src/client/client.jl
  src/client/connection.jl
  src/client/makerequest.jl
  src/client/open.jl
  src/client/redirects.jl
  src/client/request.jl
  src/client/retry.jl
  src/client/stream.jl
  src/download.jl
  src/requestresponse.jl
  src/server.jl
  src/statistics.jl
  src/utils.jl
  src/websockets.jl
  test/client.jl
  test/runtests.jl
  test/server.jl
  test/utils.jl
Labels: test

Avoid external redirect target in client tests
  test/client.jl
Labels: test

Select server handler from TLS protocol
  src/server.jl
Labels: none

Restore headers vector semantics
  src/cookies.jl
  src/handlers.jl
  src/requestresponse.jl
  test/headers.jl
Labels: test

Restore pool compatibility
  src/HTTP.jl
  src/client/client.jl
  test/client.jl
Labels: test

Restore server shutdown hooks
  src/server.jl
  test/server.jl
Labels: test

Avoid closing shared connections on readtimeout
  src/client/stream.jl
  test/server.jl
Labels: test

Align WebSocket upgrade and protocol handling
  src/websockets.jl
  test/websockets_basic.jl
Labels: test

Align HTTP/2 host and authority handling
  src/client/request.jl
  src/requestresponse.jl
  test/client.jl
  test/server.jl
Labels: test

Add HTTP/2 readtimeout handling
  src/client/makerequest.jl
  src/client/stream.jl
Labels: none

Remove ErrorResult, adopt exception-based error model
  Project.toml
  src/HTTP.jl
  src/client/client.jl
  src/client/connection.jl
  src/client/makerequest.jl
  src/client/retry.jl
  src/client/stream.jl
  src/cookies.jl
  src/download.jl
  src/exceptions.jl
  src/server.jl
  src/statistics.jl
  src/utils.jl
  src/websockets.jl
  test/client.jl
  test/runtests.jl
  test/server.jl
  test/websockets/autobahn.jl
  test/websockets/deno_client/server.jl
Labels: test

fix(client): restore retry loop and token scheduling
  src/client/retry.jl
Labels: none

refactor(reseau): use direct group/bootstrap constructors
  src/client/client.jl
  src/server.jl
Labels: none

Implement bodysummary without private APIs
  src/Messages.jl
Labels: none

refactor: migrate from Channel/Slot to PipelineState API
  src/client/stream.jl
  src/server.jl
  src/utils.jl
  src/websockets.jl
Labels: none

ci: update CI for HTTP 2.0 with Reseau/AwsHTTP dependencies
  .github/workflows/ci.yml
Labels: CI

refactor(pipeline): switch websocket/server hooks to new reseau APIs
  src/server.jl
  src/websockets.jl
Labels: none

Checkpoint current HTTP integration state before AwsHTTP merge
  src/client/client.jl
  src/client/retry.jl
  src/client/stream.jl
  src/server.jl
  src/utils.jl
  src/websockets.jl
Labels: none

Update HTTP client integration to future-based internal APIs
  src/client/connection.jl
  src/client/stream.jl
Labels: none

Merge AwsHTTP internals into HTTP as internal module
  Project.toml
  src/HTTP.jl
  src/awshttp/AwsHTTP.jl
  src/awshttp/client_bootstrap.jl
  src/awshttp/connection.jl
  src/awshttp/connection_manager.jl
  src/awshttp/connection_monitor.jl
  src/awshttp/h1_connection.jl
  src/awshttp/h1_decoder.jl
  src/awshttp/h1_encoder.jl
  src/awshttp/h1_stream.jl
  src/awshttp/h2_connection.jl
  src/awshttp/h2_frames.jl
  src/awshttp/h2_stream.jl
  src/awshttp/h2_stream_manager.jl
  src/awshttp/hpack.jl
  src/awshttp/hpack_huffman.jl
  src/awshttp/http.jl
  src/awshttp/proxy.jl
  src/awshttp/request_response.jl
  src/awshttp/server.jl
  src/awshttp/strutil.jl
  src/awshttp/websocket.jl
  src/websockets.jl
Labels: none

Remove trim-mode branch and deduplicate request/response setup
  src/HTTP.jl
  src/requestresponse.jl
Labels: none

Expand AwsHTTP method enum and mapping coverage
  src/awshttp/http.jl
  test/utils.jl
Labels: test

Remove no-op AwsHTTP library init/cleanup surface
  src/HTTP.jl
  src/awshttp/http.jl
Labels: none

Add HTTP trim-safe compile test target
  Project.toml
  test/http_trim_safe.jl
  test/runtests.jl
  test/trim_compile_tests.jl
Labels: test

Remove manager callback storage and legacy allocator shims
  src/awshttp/connection.jl
  src/awshttp/connection_manager.jl
  src/awshttp/h1_connection.jl
  src/awshttp/h2_stream_manager.jl
  src/awshttp/proxy.jl
  src/client/client.jl
  src/client/redirects.jl
  src/client/stream.jl
  src/requestresponse.jl
  src/utils.jl
Labels: none

Remove user_data plumbing and direct callback dispatch
  src/awshttp/client_bootstrap.jl
  src/awshttp/connection_monitor.jl
  src/awshttp/h1_decoder.jl
  src/awshttp/h1_encoder.jl
  src/awshttp/h1_stream.jl
  src/awshttp/h2_connection.jl
  src/awshttp/h2_stream.jl
  src/awshttp/server.jl
  src/awshttp/websocket.jl
  src/handlers.jl
  src/server.jl
  src/statistics.jl
  src/websockets.jl
Labels: none

Replace stored write callbacks with futures and simplify ws callbacks
  src/awshttp/h1_encoder.jl
  src/awshttp/h2_stream.jl
  src/awshttp/websocket.jl
  src/client/stream.jl
  src/websockets.jl
  test/http_trim_safe.jl
Labels: test

Pass unhealthy callback at check callsite instead of storing
  src/awshttp/connection_monitor.jl
Labels: none

Simplify AwsHTTP callback flow and remove option wrappers
  src/awshttp/client_bootstrap.jl
  src/awshttp/connection.jl
  src/awshttp/h1_connection.jl
  src/awshttp/h1_decoder.jl
  src/awshttp/h1_encoder.jl
  src/awshttp/h1_stream.jl
  src/awshttp/h2_connection.jl
  src/awshttp/h2_stream.jl
  src/awshttp/server.jl
  src/awshttp/websocket.jl
  src/client/stream.jl
  src/requestresponse.jl
  src/server.jl
  src/websockets.jl
Labels: none

Tighten decoder context typing and route leaf handler type
  src/awshttp/AwsHTTP.jl
  src/awshttp/h1_decoder.jl
  src/handlers.jl
Labels: none

Parameterize InputStream body storage and simplify chunk setup
  src/client/stream.jl
  src/requestresponse.jl
Labels: none

Use AwsHTTP.WebSocket constructor directly
  src/awshttp/websocket.jl
  src/websockets.jl
  test/http_trim_safe.jl
Labels: test

Remove HttpMakeRequestOptions and use call-time request kwargs
  src/awshttp/connection.jl
  src/awshttp/h1_connection.jl
  src/awshttp/h1_stream.jl
  src/awshttp/h2_connection.jl
  src/awshttp/h2_stream.jl
  src/client/open.jl
  src/client/stream.jl
Labels: none
