Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

ci: pin clean Reseau IOCP experiment
  .github/workflows/ci.yml
Labels: CI

ci: trace Reseau read submit errors
  .github/workflows/ci.yml
Labels: CI

test(client): gracefully finish parity responses
  test/http_parity_tests.jl
Labels: test

ci: pin final Reseau IOCP experiment
  .github/workflows/ci.yml
Labels: CI

ci: pin trimmed Reseau IOCP experiment
  .github/workflows/ci.yml
Labels: CI

ci: correct trimmed Reseau experiment pin
  .github/workflows/ci.yml
Labels: CI

WebSockets: cut receive-side allocations + pin reader to a home thread
  Project.toml
  src/http_websockets.jl
Labels: none

revert version bump
  Project.toml
Labels: none

fix(client): fall back to h1 on auto ALPN mismatch
  src/http2_client.jl
  src/http_client.jl
  test/http_client_tests.jl
  test/http_integration_tests.jl
  test/http_parity_tests.jl
Labels: test

fix(client): fall back to h1 on auto ALPN mismatch (#1269)
  src/http2_client.jl
  src/http_client.jl
  test/http_client_tests.jl
  test/http_integration_tests.jl
  test/http_parity_tests.jl
Labels: test

feat(websockets): add isready(ws) to poll for buffered messages
  src/http_websockets.jl
  test/http_websocket_integration_tests.jl
Labels: test

feat(client): add max_decompressed_size to guard against decompression bombs
  src/http_client.jl
  test/http_client_tests.jl
Labels: test

fix(client): apply decompression limit in the read loop, not a wrapper type
  src/http_client.jl
Labels: none

test(server): harden raw trailer read on Windows
  test/http_server_http1_tests.jl
Labels: test

test(server): harden raw trailer read on Windows (#1270)
  test/http_server_http1_tests.jl
Labels: test

feat(client): max_decompressed_size guard against decompression bombs (#1262)
  src/http_client.jl
  test/http_client_tests.jl
Labels: test

feat(websockets): add isready(ws) to poll for buffered messages (#1261)
  src/http_websockets.jl
  test/http_websocket_integration_tests.jl
Labels: test

WebSockets: cut receive-side allocations + pin reader to a home thread (#1268)
  src/http_websockets.jl
Labels: none

fix(server): write h2 BytesBody responses directly
  src/http2_server.jl
  test/http2_server_tests.jl
Labels: test

test(server): wait for raw response bytes on Windows
  test/http_server_http1_tests.jl
Labels: test

test(server): cover h2 BytesBody edge cases
  test/http2_server_tests.jl
Labels: test

test(server): cover h2 vector trailer responses
  test/http2_server_tests.jl
Labels: test

test(server): allow more trim time on Julia pre
  test/trim_compile_tests.jl
Labels: test

Write HTTP/2 BytesBody responses directly (#1272)
  src/http2_server.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
  test/trim_compile_tests.jl
Labels: test

Add HTTP 1252 precompile probe workflow
  .github/workflows/http-1252-precompile-probe.yml
Labels: CI

Fix precompile probe versioninfo
  .github/workflows/http-1252-precompile-probe.yml
Labels: CI

Add haswell precompile probe
  .github/workflows/http-1252-haswell-probe.yml
Labels: CI

Harden Linux precompile workload
  Project.toml
  src/precompile.jl
Labels: none

Add HTTP 1252 loopback diagnostics
  .github/workflows/http-1252-haswell-probe.yml
  .github/workflows/http-1252-loopback-probe.yml
  .github/workflows/http-1252-precompile-probe.yml
Labels: CI

Probe HTTP 1252 with Reseau timer shutdown fix
  .github/workflows/http-1252-loopback-probe.yml
Labels: CI

Harden HTTP precompile cleanup diagnostics
  src/precompile.jl
Labels: none

Harden HTTP precompile cleanup diagnostics (#1275)
  src/precompile.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Encode space as '+' in application/x-www-form-urlencoded bodies (#1138)
  src/http_request_bodies.jl
  test/http_client_tests.jl
  test/http_forms_tests.jl
Labels: test

Encode space as '+' in application/x-www-form-urlencoded bodies (#1138) (#1278)
  src/http_request_bodies.jl
  test/http_client_tests.jl
  test/http_forms_tests.jl
Labels: test

Add no-arg close_idle_connections! + document form-body decoding (#1118, #1123, #1137)
  docs/src/guides/client.md
  src/http_client.jl
  src/http_transport.jl
  test/http_client_transport_tests.jl
  test/http_forms_tests.jl
Labels: test

Add no-arg close_idle_connections! + document form-body decoding (#1118, #1123, #1137) (#1279)
  docs/src/guides/client.md
  src/http_client.jl
  src/http_transport.jl
  test/http_client_transport_tests.jl
  test/http_forms_tests.jl
Labels: test

Skip the precompile workload inside AutoMerge
  src/precompile.jl
Labels: none

Skip the precompile workload inside AutoMerge (#1281)
  src/precompile.jl
Labels: none

Avoid per-response body-sized buffer in HTTP/2 server response writes (#1271)
  src/http2_server.jl
Labels: none

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
