Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Bump version to 1.4.1
  Project.toml
Labels: none

Allow globally setting default connection limit
  src/ConnectionPool.jl
  test/client.jl
Labels: test

fix
  src/ConnectionPool.jl
Labels: none

Allow globally setting default connection limit (#940)
  src/ConnectionPool.jl
  test/client.jl
Labels: test

Cleanup OpenSSL implementation
  src/ConnectionPool.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

bump OpenSSL compat
  Project.toml
Labels: none

Cleanup OpenSSL implementation (#941)
  Project.toml
  src/ConnectionPool.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

Bump version to 1.5.0
  Project.toml
Labels: none

connectionlayer: sslupgrade(socket_type_tls) fixup (#941)
  src/clientlayers/ConnectionRequest.jl
Labels: none

connectionlayer: sslupgrade(socket_type_tls) fixup (#941) (#943)
  src/clientlayers/ConnectionRequest.jl
Labels: none

fix typo
  docs/src/client.md
Labels: none

fix typo in docs (#944)
  docs/src/client.md
Labels: none

try_with_timeout: rethrow if wrapped function throws
  src/Exceptions.jl
  test/runtests.jl
  test/try_with_timeout.jl
Labels: test

Add # of retry attempts to request context
  src/clientlayers/RetryRequest.jl
Labels: none

Add # of retry attempts to request context (#946)
  src/clientlayers/RetryRequest.jl
Labels: none

Bump version to 1.5.1
  Project.toml
Labels: none

try_with_timeout: rethrow if wrapped function throws (#942)
  src/Exceptions.jl
  test/runtests.jl
  test/try_with_timeout.jl
Labels: test

Add an example to parse_multipart_form docs
  src/parsemultipart.jl
Labels: none

Switch to using docker for autobahn tests
  .github/workflows/ci.yml
  test/websockets/autobahn.jl
  test/websockets/config/fuzzingclient.json
  test/websockets/config/fuzzingserver.json
Labels: CI

try again
  test/websockets/autobahn.jl
Labels: none

try exposing port
  test/websockets/autobahn.jl
Labels: none

try another thign
  test/websockets/autobahn.jl
Labels: none

try again
  test/websockets/autobahn.jl
  test/websockets/config/fuzzingclient.json
Labels: none

Switch to using docker for autobahn tests (#953)
  .github/workflows/ci.yml
  test/websockets/autobahn.jl
  test/websockets/config/fuzzingserver.json
Labels: CI

A few server cleanups
  src/Servers.jl
Labels: none

A few server cleanups (#955)
  src/Servers.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Use at-async instead of Threads spawn in non-interactive case
  src/Servers.jl
Labels: none

Use at-async instead of Threads spawn in non-interactive case (#960)
  src/Servers.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Bump LoggingExtras.jl compat in Project.toml
  Project.toml
Labels: none

corrected project..toml format
  Project.toml
Labels: none

Update Project.toml
  Project.toml
Labels: none

Bump LoggingExtras.jl compat in Project.toml (#963)
  Project.toml
Labels: none

Update Project.toml
  Project.toml
Labels: none

Allow retrying request regardless of idempotent if we failed to write anything
  src/Exceptions.jl
  src/Messages.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

overhaul tests to httpbingo.julialang.org for better reliability
  src/Exceptions.jl
  src/access_log.jl
  src/multipart.jl
  test/async.jl
  test/client.jl
  test/download.jl
  test/loopback.jl
  test/messages.jl
  test/multipart.jl
  test/runtests.jl
  test/server.jl
Labels: test

Allow retrying request regardless of idempotent if we failed to write… (#964)
  src/Messages.jl
  src/Streams.jl
  src/access_log.jl
  src/clientlayers/ConnectionRequest.jl
  src/multipart.jl
  test/async.jl
  test/client.jl
  test/download.jl
  test/loopback.jl
  test/messages.jl
  test/multipart.jl
  test/runtests.jl
  test/server.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Remove unnecessary check from messages.jl test
  test/messages.jl
Labels: test

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
