Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Store the original registered route path when Router matches (#866)
  src/Handlers.jl
  test/handlers.jl
Labels: test

FIX UndefRefError to x in cookies.jl
  src/cookies.jl
Labels: none

FIX UndefRefError to x in cookies.jl (#867)
  src/cookies.jl
Labels: none

Bump version
  Project.toml
Labels: none

Added CORS response header to 200 server responses
  docs/examples/cors_server.jl
Labels: none

Allow any string for parameter names in router, fixes #871.
  src/Handlers.jl
  test/handlers.jl
Labels: test

Allow any string for parameter names in router, fixes #871. (#872)
  src/Handlers.jl
  test/handlers.jl
Labels: test

Added CORS response header to 200 server responses (#870)
  docs/examples/cors_server.jl
Labels: none

Preserve response body when retrying/redirecting
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Preserve response body when retrying/redirecting (#876)
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Allow user-configurable retry delay and check
  src/Messages.jl
  src/clientlayers/RetryRequest.jl
Labels: none

Updated CORS example with 404 and 405 responses
  docs/examples/cors_server.jl
Labels: none

Updated CORS example with 404 and 405 responses (#878)
  docs/examples/cors_server.jl
Labels: none

more ideas
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Add getparam and empty Listener definitions for convenience
  docs/src/reference.md
  src/Handlers.jl
  src/Servers.jl
Labels: none

Add getparam and empty Listener definitions for convenience (#880)
  docs/src/reference.md
  src/Handlers.jl
  src/Servers.jl
Labels: none

Cleanup acquire/release usage from underlying connection pool
  src/ConnectionPool.jl
  src/clientlayers/ConnectionRequest.jl
  src/connectionpools.jl
Labels: none

Add HTTP.removeheader and some missing getparam(s) tests
  docs/src/reference.md
  src/Messages.jl
  src/Pairs.jl
  test/handlers.jl
  test/messages.jl
Labels: test

Cleanup acquire/release usage from underlying connection pool (#882)
  src/ConnectionPool.jl
  src/clientlayers/ConnectionRequest.jl
  src/connectionpools.jl
Labels: none

fix tests
  test/messages.jl
Labels: test

fix getparam export
  src/Handlers.jl
Labels: none

Add HTTP.removeheader and some missing getparam(s) tests (#883)
  docs/src/reference.md
  src/Handlers.jl
  src/Messages.jl
  src/Pairs.jl
  test/handlers.jl
  test/messages.jl
Labels: test

wait on the correct object, instead of calling sleep
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/Servers.jl
Labels: none

Add ability to specify first/last for custom request/stream layers
  .github/workflows/ci.yml
  src/HTTP.jl
  test/client.jl
  test/resources/TestRequest.jl
Labels: test, CI

Add ability to specify first/last for custom request/stream layers (#884)
  .github/workflows/ci.yml
  src/HTTP.jl
  test/client.jl
  test/resources/TestRequest.jl
Labels: test, CI

Cleanup connection reuse logic
  src/ConnectionPool.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

Cleanup connection reuse logic (#885)
  src/ConnectionPool.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

Bump version v1.1
  Project.toml
Labels: none

Add ability to "hook" a middleware into Router post-matching
  src/Handlers.jl
  test/handlers.jl
Labels: test

Add ability to "hook" a middleware into Router post-matching (#886)
  src/Handlers.jl
  test/handlers.jl
Labels: test

Bump version to v1.2
  Project.toml
Labels: none

remove 'ready_to_accept' useless event
  src/Servers.jl
Labels: none

Update ConnectionRequest.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

Update ConnectionRequest.jl (#891)
  src/clientlayers/ConnectionRequest.jl
Labels: none

Add $body_bytes_received to log number of (body) bytes read from client, fixes #892.
  src/Streams.jl
  src/access_log.jl
  test/server.jl
Labels: test

disallow bugs in `@try` usage
  src/Exceptions.jl
  src/Servers.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Fix StackOverflow error as reported in #896
  src/download.jl
Labels: none

Fix body summary showing for Dict/NamedTuple bodies
  src/Messages.jl
Labels: none

add test for #896
  test/download.jl
Labels: test

Update src/download.jl
  src/download.jl
Labels: none

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
