Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Allow silencing server closing log message as well
  src/Servers.jl
Labels: none

Keep HEAD request method when redirecting which follows curl behavior
  src/clientlayers/RedirectRequest.jl
Labels: none

Do not turn HEAD requests to GET by default through redirects
  src/clientlayers/RedirectRequest.jl
  test/client.jl
Labels: test

Do not turn HEAD requests to GET by default through redirects (#967)
  src/clientlayers/RedirectRequest.jl
  test/client.jl
Labels: test

Allow silencing server closing log message as well (#965)
  src/Servers.jl
Labels: none

Update GHA dependency versions
  .github/workflows/ci.yml
  .github/workflows/previews-cleanup.yml
Labels: CI

Update GHA dependency versions (#968)
  .github/workflows/ci.yml
  .github/workflows/previews-cleanup.yml
Labels: CI

Fix access_threaded in the forthcoming interactive threadpool world
  src/Parsers.jl
  src/Servers.jl
  src/parsemultipart.jl
Labels: none

Fix access_threaded in the forthcoming interactive threadpool world (#972)
  src/Parsers.jl
  src/Servers.jl
  src/parsemultipart.jl
Labels: none

Allow more custom retry logic
  src/Messages.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/MessageRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Update docs
  src/HTTP.jl
Labels: none

Allow customizing retry logic for http requests (#974)
  src/HTTP.jl
  src/Messages.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/MessageRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Fix setting of response body for StatusError exception
  src/clientlayers/MessageRequest.jl
Labels: none

Fix error still being thrown
  src/clientlayers/MessageRequest.jl
Labels: none

Add test and forcenew option to avoid socket closing race condition
  src/ConnectionPool.jl
  src/connectionpools.jl
  test/client.jl
Labels: test

Fix setting of response body for StatusError exception (#975)
  src/ConnectionPool.jl
  src/clientlayers/MessageRequest.jl
  src/connectionpools.jl
  test/client.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

New retry_check should take response body as arg
  src/HTTP.jl
  src/clientlayers/RetryRequest.jl
Labels: none

Fix test
  test/client.jl
Labels: test

update docs; pass resp as nothing if none
  src/HTTP.jl
  src/clientlayers/RetryRequest.jl
Labels: none

New retry_check should take response body as arg (#976)
  src/HTTP.jl
  src/clientlayers/RetryRequest.jl
  test/client.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Avoid creating additional string when writing headers
  src/Messages.jl
Labels: none

Define our own simpler Version type
  src/Messages.jl
  src/Parsers.jl
  src/Strings.jl
  src/clientlayers/MessageRequest.jl
  test/httpversion.jl
  test/messages.jl
  test/runtests.jl
Labels: test

Update src/Messages.jl
  src/Messages.jl
Labels: none

Tidy tests
  test/httpversion.jl
Labels: test

Update src/clientlayers/MessageRequest.jl
  src/clientlayers/MessageRequest.jl
Labels: none

Update src/Messages.jl
  src/Messages.jl
Labels: none

Test we don't allocate
  test/httpversion.jl
Labels: test

Remove unused code
  src/Strings.jl
Labels: none

Write headers to temporary buffer first
  src/ConnectionPool.jl
  src/Messages.jl
  src/Servers.jl
Labels: none

Remove unneeded temp buffer in Stream startwrite
  src/Streams.jl
Labels: none

Make loopback test less flaky by using Event instead of sleep
  test/loopback.jl
Labels: test

Don't connect a socket for Loopback test
  test/loopback.jl
Labels: test

Reduce slightly allocations when reading/writing HTTP messages (#950)
  src/ConnectionPool.jl
  src/Messages.jl
  src/Parsers.jl
  src/Servers.jl
  src/Streams.jl
  src/Strings.jl
  src/clientlayers/MessageRequest.jl
  test/httpversion.jl
  test/loopback.jl
  test/messages.jl
  test/runtests.jl
Labels: test

Set line info for `@client` macro as call site
  Project.toml
  src/HTTP.jl
  test/client.jl
Labels: test

Set line info for `@client` macro as call site (#981)
  Project.toml
  src/HTTP.jl
  test/client.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Introduce StatusCodes module
  src/HTTP.jl
  src/Messages.jl
  src/StatusCodes.jl
  src/status_messages.jl
  test/parser.jl
Labels: test
