Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

add form-urlencoded support
  docs/src/client.md
  src/HTTP.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/StreamRequest.jl
  test/client.jl
Labels: test

Fix and test readuntil on Stream; closes #852
  src/Streams.jl
  test/client.jl
Labels: test

fix some more docs stuff
  docs/src/client.md
  docs/src/server.md
  docs/src/websockets.md
Labels: none

more docs cleanup
  .github/workflows/previews-cleanup.yml
  docs/src/client.md
  docs/src/reference.md
  docs/src/server.md
  src/Handlers.jl
Labels: CI

Start filling out client.md, websockets.md, and server.md doc guides (#851)
  .github/workflows/previews-cleanup.yml
  docs/make.jl
  docs/src/client.md
  docs/src/index.md
  docs/src/reference.md
  docs/src/server.md
  docs/src/websockets.md
  src/HTTP.jl
  src/Handlers.jl
  src/Messages.jl
  src/Streams.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/StreamRequest.jl
  src/sniff.jl
  test/client.jl
Labels: ðŸ“– documentation, test, CI

Modernize core server code and improve overall ergonomics
  src/ConnectionPool.jl
  src/Servers.jl
  test/client.jl
Labels: test

fix tests
  src/ConnectionPool.jl
  src/Handlers.jl
  src/Servers.jl
  src/WebSockets.jl
  test/chunking.jl
  test/client.jl
  test/server.jl
  test/websockets/autobahn.jl
  test/websockets/deno_client/server.jl
Labels: test

fix cookie test
  test/cookies.jl
Labels: test

update docs
  README.md
  docs/examples/cors_server.jl
  docs/examples/readme_examples.jl
  docs/examples/server_sent_events.jl
  docs/examples/simple_server.jl
  docs/examples/squaring_server_client.jl
  docs/src/server.md
  src/Handlers.jl
  src/Servers.jl
Labels: none

fix reuseaddr test
  src/Servers.jl
Labels: none

fix
  src/Servers.jl
Labels: none

more cleanup
  src/Handlers.jl
  src/Messages.jl
  src/Servers.jl
  src/Streams.jl
Labels: none

fix test
  src/Servers.jl
  src/Streams.jl
  test/server.jl
Labels: test

[BREAKING]: Modernize core server code and improve overall ergonomics (#854)
  README.md
  docs/examples/cors_server.jl
  docs/examples/readme_examples.jl
  docs/examples/server_sent_events.jl
  docs/examples/simple_server.jl
  docs/examples/squaring_server_client.jl
  docs/src/server.md
  src/ConnectionPool.jl
  src/Handlers.jl
  src/Messages.jl
  src/Servers.jl
  src/WebSockets.jl
  test/chunking.jl
  test/client.jl
  test/cookies.jl
  test/server.jl
  test/websockets/autobahn.jl
  test/websockets/deno_client/server.jl
Labels: test

Include a docs guide for migration code to 1.0
  docs/src/index.md
Labels: none

try to fix refs
  docs/src/index.md
Labels: none

Include a docs guide for migration code to 1.0 (#855)
  docs/src/index.md
Labels: none

Tag 1.0 release
  Project.toml
Labels: none

Add CodecZlib compat
  Project.toml
Labels: none

Fix HTTP.listen with provided TCP server
  Project.toml
  src/Servers.jl
  test/server.jl
Labels: test

Add some deprecations to help upgrading to HTTP.jl v1.
  src/Handlers.jl
  src/WebSockets.jl
Labels: none

Fix HTTP.listen with provided TCP server (#857)
  Project.toml
  src/Servers.jl
  test/server.jl
Labels: test

Add some deprecations to help upgrading to HTTP.jl v1. (#858)
  src/Handlers.jl
  src/WebSockets.jl
Labels: none

docs: fix markdown formatting
  src/WebSockets.jl
Labels: none

Fix some issues with automatic gzip decompression
  Project.toml
  src/clientlayers/StreamRequest.jl
Labels: none

Update generation of examples, fixes #856
  docs/make.jl
  docs/src/examples.md
Labels: ðŸ“– documentation

Update generation of examples, fixes #856 (#862)
  docs/make.jl
  docs/src/examples.md
Labels: ðŸ“– documentation

Fix some issues with automatic gzip decompression (#861)
  Project.toml
  src/clientlayers/StreamRequest.jl
Labels: none

Fix example markup
  src/WebSockets.jl
Labels: none

docs: fix example markup in docstring (#863)
  src/WebSockets.jl
Labels: none

Ensure a Request accounts correctly for isredirect/retryable
  src/Messages.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  test/client.jl
Labels: test

Ensure a Request accounts correctly for isredirect/retryable (#864)
  src/Messages.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  test/client.jl
Labels: test

Bump version
  Project.toml
Labels: none

Ensure underlying Connection gets closed in websocket close sequence if timer runs out
  src/WebSockets.jl
Labels: none

try to make macOS more robust w/ websocket tests
  test/websockets/autobahn.jl
Labels: none

Ensure underlying Connection gets closed in websocket close sequence … (#865)
  src/WebSockets.jl
  test/websockets/autobahn.jl
Labels: none

Bump version
  Project.toml
Labels: none

Store the original registered route path when Router matches
  src/Handlers.jl
  test/handlers.jl
Labels: test

don't overload base methods
  src/Handlers.jl
Labels: none

fix
  src/Handlers.jl
Labels: none
