Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Add an opt-in request logging middleware
  CHANGELOG.md
  Project.toml
  docs/src/api/server.md
  docs/src/guides/server.md
  src/http_handlers.jl
  test/Project.toml
  test/http_handlers_tests.jl
Labels: test

build based on 3e60e81
  previews/PR1364/.documenter-siteinfo.json
  previews/PR1364/api/client/index.html
  previews/PR1364/api/core/index.html
  previews/PR1364/api/reference/index.html
  previews/PR1364/api/server/index.html
  previews/PR1364/api/websockets/index.html
  previews/PR1364/guides/client/index.html
  previews/PR1364/guides/migration-1x/index.html
  previews/PR1364/guides/protocols/index.html
  previews/PR1364/guides/server/index.html
  previews/PR1364/index.html
  previews/PR1364/search_index.js
Labels: none

build based on 2adb040
  previews/PR1369/.documenter-siteinfo.json
  previews/PR1369/api/client/index.html
  previews/PR1369/api/core/index.html
  previews/PR1369/api/reference/index.html
  previews/PR1369/api/server/index.html
  previews/PR1369/api/websockets/index.html
  previews/PR1369/assets/documenter.js
  previews/PR1369/assets/themes/catppuccin-frappe.css
  previews/PR1369/assets/themes/catppuccin-latte.css
  previews/PR1369/assets/themes/catppuccin-macchiato.css
  previews/PR1369/assets/themes/catppuccin-mocha.css
  previews/PR1369/assets/themes/documenter-dark.css
  previews/PR1369/assets/themes/documenter-light.css
  previews/PR1369/assets/themeswap.js
  previews/PR1369/assets/warner.js
  previews/PR1369/guides/client/index.html
  previews/PR1369/guides/migration-1x/index.html
  previews/PR1369/guides/protocols/index.html
  previews/PR1369/guides/server/index.html
  previews/PR1369/index.html
  previews/PR1369/objects.inv
  previews/PR1369/search_index.js
  previews/PR1369/siteinfo.js
Labels: none

build based on c741d62
  previews/PR1368/.documenter-siteinfo.json
  previews/PR1368/api/client/index.html
  previews/PR1368/api/core/index.html
  previews/PR1368/api/reference/index.html
  previews/PR1368/api/server/index.html
  previews/PR1368/api/websockets/index.html
  previews/PR1368/assets/documenter.js
  previews/PR1368/assets/themes/catppuccin-frappe.css
  previews/PR1368/assets/themes/catppuccin-latte.css
  previews/PR1368/assets/themes/catppuccin-macchiato.css
  previews/PR1368/assets/themes/catppuccin-mocha.css
  previews/PR1368/assets/themes/documenter-dark.css
  previews/PR1368/assets/themes/documenter-light.css
  previews/PR1368/assets/themeswap.js
  previews/PR1368/assets/warner.js
  previews/PR1368/guides/client/index.html
  previews/PR1368/guides/migration-1x/index.html
  previews/PR1368/guides/protocols/index.html
  previews/PR1368/guides/server/index.html
  previews/PR1368/index.html
  previews/PR1368/objects.inv
  previews/PR1368/search_index.js
  previews/PR1368/siteinfo.js
Labels: none

build based on b313627
  previews/PR1367/.documenter-siteinfo.json
  previews/PR1367/api/client/index.html
  previews/PR1367/api/core/index.html
  previews/PR1367/api/reference/index.html
  previews/PR1367/api/server/index.html
  previews/PR1367/api/websockets/index.html
  previews/PR1367/assets/documenter.js
  previews/PR1367/assets/themes/catppuccin-frappe.css
  previews/PR1367/assets/themes/catppuccin-latte.css
  previews/PR1367/assets/themes/catppuccin-macchiato.css
  previews/PR1367/assets/themes/catppuccin-mocha.css
  previews/PR1367/assets/themes/documenter-dark.css
  previews/PR1367/assets/themes/documenter-light.css
  previews/PR1367/assets/themeswap.js
  previews/PR1367/assets/warner.js
  previews/PR1367/guides/client/index.html
  previews/PR1367/guides/migration-1x/index.html
  previews/PR1367/guides/protocols/index.html
  previews/PR1367/guides/server/index.html
  previews/PR1367/index.html
  previews/PR1367/llms-full.txt
  previews/PR1367/llms.txt
  previews/PR1367/objects.inv
  previews/PR1367/search_index.js
  previews/PR1367/siteinfo.js
Labels: none

Keep String response bodies reusable and refuse to resend a spent streaming body
  CHANGELOG.md
  docs/src/guides/server.md
  src/http1.jl
  src/http2_server.jl
  src/http_core.jl
  src/http_forms.jl
  src/http_server.jl
  test/http2_server_tests.jl
  test/http_core_tests.jl
  test/http_handlers_tests.jl
  test/http_server_http1_tests.jl
Labels: test

Raise the HTTP/1 line limit to 64 KiB and expose header limits on Transport
  CHANGELOG.md
  docs/src/guides/client.md
  src/http1.jl
  src/http_transport.jl
  test/http_client_transport_tests.jl
Labels: test

build based on 46268e9
  previews/PR1364/.documenter-siteinfo.json
  previews/PR1364/api/client/index.html
  previews/PR1364/api/core/index.html
  previews/PR1364/api/reference/index.html
  previews/PR1364/api/server/index.html
  previews/PR1364/api/websockets/index.html
  previews/PR1364/guides/client/index.html
  previews/PR1364/guides/migration-1x/index.html
  previews/PR1364/guides/protocols/index.html
  previews/PR1364/guides/server/index.html
  previews/PR1364/index.html
Labels: none

Log the committed head status when a stream handler fails
  src/http_handlers.jl
  test/http_handlers_tests.jl
Labels: test

build based on 7888e29
  previews/PR1365/.documenter-siteinfo.json
  previews/PR1365/api/client/index.html
  previews/PR1365/api/core/index.html
  previews/PR1365/api/reference/index.html
  previews/PR1365/api/server/index.html
  previews/PR1365/api/websockets/index.html
  previews/PR1365/guides/client/index.html
  previews/PR1365/guides/migration-1x/index.html
  previews/PR1365/guides/protocols/index.html
  previews/PR1365/guides/server/index.html
  previews/PR1365/index.html
  previews/PR1365/search_index.js
Labels: none

build based on eb1e5ba
  previews/PR1368/.documenter-siteinfo.json
  previews/PR1368/api/client/index.html
  previews/PR1368/api/core/index.html
  previews/PR1368/api/reference/index.html
  previews/PR1368/api/server/index.html
  previews/PR1368/api/websockets/index.html
  previews/PR1368/guides/client/index.html
  previews/PR1368/guides/migration-1x/index.html
  previews/PR1368/guides/protocols/index.html
  previews/PR1368/guides/server/index.html
  previews/PR1368/index.html
Labels: none

build based on 7888e29
  previews/PR1365/.documenter-siteinfo.json
  previews/PR1365/api/client/index.html
  previews/PR1365/api/core/index.html
  previews/PR1365/api/reference/index.html
  previews/PR1365/api/server/index.html
  previews/PR1365/api/websockets/index.html
  previews/PR1365/guides/client/index.html
  previews/PR1365/guides/migration-1x/index.html
  previews/PR1365/guides/protocols/index.html
  previews/PR1365/guides/server/index.html
  previews/PR1365/index.html
Labels: none

Join request cookies with "; " instead of the appendheader comma fold
  CHANGELOG.md
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Read response limits from the transport and cover interim heads and trailers
  src/http_transport.jl
  test/http_client_transport_tests.jl
Labels: test

Write Host as the first HTTP/1.1 request header field (#1366)
  CHANGELOG.md
  src/http1.jl
  test/http1_wire_tests.jl
  test/http_client_tests.jl
Labels: test

Keep server error responses consistent for all thrown values
  src/http2_server.jl
  src/http_handlers.jl
  src/http_server.jl
  test/http_handlers_tests.jl
Labels: test

Respect body suppression and return 500 for spent HTTP/2 bodies
  src/http2_server.jl
  src/http_core.jl
  test/http2_server_tests.jl
  test/http_core_tests.jl
  test/http_server_http1_tests.jl
Labels: test

Reuse Documenter docstring lookup and verify LLM output
  docs/llms.jl
  docs/make.jl
  docs/test_llms.jl
Labels: ðŸ“– documentation

Preserve separately stored Cookie headers when adding a cookie
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Add an opt-in request logging middleware (#1368)
  CHANGELOG.md
  Project.toml
  docs/src/api/server.md
  docs/src/guides/server.md
  src/http2_server.jl
  src/http_handlers.jl
  src/http_server.jl
  test/Project.toml
  test/http_handlers_tests.jl
Labels: test

Keep String response bodies reusable and refuse to resend a spent streaming body (#1364)
  CHANGELOG.md
  docs/src/guides/server.md
  src/http1.jl
  src/http2_server.jl
  src/http_core.jl
  src/http_forms.jl
  src/http_server.jl
  test/http2_server_tests.jl
  test/http_core_tests.jl
  test/http_handlers_tests.jl
  test/http_server_http1_tests.jl
Labels: test

Skip informational (1xx) header blocks in the HTTP/2 client (#1369)
  CHANGELOG.md
  src/http2_client.jl
  test/http2_client_tests.jl
Labels: test

Raise the HTTP/1 line limit to 64 KiB and expose header limits on Transport (#1365)
  CHANGELOG.md
  docs/src/guides/client.md
  src/http1.jl
  src/http_transport.jl
  test/http_client_transport_tests.jl
Labels: test

Make HTTP/2 cancellation coverage deterministic and clarify response reuse
  docs/src/guides/server.md
  test/http2_server_tests.jl
Labels: test

Join request cookies with "; " instead of the appendheader comma fold (#1370)
  CHANGELOG.md
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Prepare HTTP 2.7.0 release
  CHANGELOG.md
  Project.toml
Labels: none

Publish LLM documentation and prepare HTTP 2.7.0 (#1367)
  CHANGELOG.md
  Project.toml
  docs/llms.jl
  docs/make.jl
  docs/src/guides/server.md
  docs/src/index.md
  docs/test_llms.jl
  test/http2_server_tests.jl
Labels: ðŸ“– documentation, test

build based on 7f09620
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/llms-full.txt
  dev/llms.txt
  dev/objects.inv
  dev/search_index.js
Labels: none

build based on 7f09620
  v2
  v2.7
  v2.7.0/.documenter-siteinfo.json
  v2.7.0/api/client/index.html
  v2.7.0/api/core/index.html
  v2.7.0/api/reference/index.html
  v2.7.0/api/server/index.html
  v2.7.0/api/websockets/index.html
  v2.7.0/assets/documenter.js
  v2.7.0/assets/themes/catppuccin-frappe.css
  v2.7.0/assets/themes/catppuccin-latte.css
  v2.7.0/assets/themes/catppuccin-macchiato.css
  v2.7.0/assets/themes/catppuccin-mocha.css
  v2.7.0/assets/themes/documenter-dark.css
  v2.7.0/assets/themes/documenter-light.css
  v2.7.0/assets/themeswap.js
  v2.7.0/assets/warner.js
  v2.7.0/guides/client/index.html
  v2.7.0/guides/migration-1x/index.html
  v2.7.0/guides/protocols/index.html
  v2.7.0/guides/server/index.html
  v2.7.0/index.html
  v2.7.0/llms-full.txt
  v2.7.0/llms.txt
  v2.7.0/objects.inv
  v2.7.0/search_index.js
  v2.7.0/siteinfo.js
  versions.js
Labels: none

Return HTTP/2 connection window credit for response bytes never read
  CHANGELOG.md
  src/http2.jl
  src/http2_client.jl
  test/http2_client_tests.jl
Labels: test

Refund buffered response bytes when an HTTP/2 request fails before its body is handed out
  CHANGELOG.md
  src/http2_client.jl
  test/http2_client_tests.jl
Labels: test

Return HTTP/2 connection window credit for response bytes never read (#1372)
  CHANGELOG.md
  src/http2.jl
  src/http2_client.jl
  test/http2_client_tests.jl
Labels: test

Prepare HTTP 2.7.1 release
  Project.toml
Labels: none

build based on 54121ae
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
Labels: none

build based on 6883e33
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/llms-full.txt
  dev/llms.txt
  dev/objects.inv
Labels: none

build based on 6883e33
  stable
  v2
  v2.7
  v2.7.1/.documenter-siteinfo.json
  v2.7.1/api/client/index.html
  v2.7.1/api/core/index.html
  v2.7.1/api/reference/index.html
  v2.7.1/api/server/index.html
  v2.7.1/api/websockets/index.html
  v2.7.1/assets/documenter.js
  v2.7.1/assets/themes/catppuccin-frappe.css
  v2.7.1/assets/themes/catppuccin-latte.css
  v2.7.1/assets/themes/catppuccin-macchiato.css
  v2.7.1/assets/themes/catppuccin-mocha.css
  v2.7.1/assets/themes/documenter-dark.css
  v2.7.1/assets/themes/documenter-light.css
  v2.7.1/assets/themeswap.js
  v2.7.1/assets/warner.js
  v2.7.1/guides/client/index.html
  v2.7.1/guides/migration-1x/index.html
  v2.7.1/guides/protocols/index.html
  v2.7.1/guides/server/index.html
  v2.7.1/index.html
  v2.7.1/llms-full.txt
  v2.7.1/llms.txt
  v2.7.1/objects.inv
  v2.7.1/search_index.js
  v2.7.1/siteinfo.js
  versions.js
Labels: none

Preserve empty header values in get
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

build based on 3c62324
  previews/PR1373/.documenter-siteinfo.json
  previews/PR1373/api/client/index.html
  previews/PR1373/api/core/index.html
  previews/PR1373/api/reference/index.html
  previews/PR1373/api/server/index.html
  previews/PR1373/api/websockets/index.html
  previews/PR1373/assets/documenter.js
  previews/PR1373/assets/themes/catppuccin-frappe.css
  previews/PR1373/assets/themes/catppuccin-latte.css
  previews/PR1373/assets/themes/catppuccin-macchiato.css
  previews/PR1373/assets/themes/catppuccin-mocha.css
  previews/PR1373/assets/themes/documenter-dark.css
  previews/PR1373/assets/themes/documenter-light.css
  previews/PR1373/assets/themeswap.js
  previews/PR1373/assets/warner.js
  previews/PR1373/guides/client/index.html
  previews/PR1373/guides/migration-1x/index.html
  previews/PR1373/guides/protocols/index.html
  previews/PR1373/guides/server/index.html
  previews/PR1373/index.html
  previews/PR1373/llms-full.txt
  previews/PR1373/llms.txt
  previews/PR1373/objects.inv
  previews/PR1373/search_index.js
  previews/PR1373/siteinfo.js
Labels: none

Canonicalize keys in vector header constructors
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

Accept tuples of header entries
  src/http_core.jl
  test/http_core_tests.jl
Labels: test
