Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Do not migrate tasks to a different thread pool (#1159)
  Project.toml
  src/clientlayers/StreamRequest.jl
Labels: none

Introduce `connections_lock` for mutating `Server.connections`
  src/Servers.jl
Labels: none

Add comment
  src/Servers.jl
Labels: none

Introduce `connections_lock` for mutating `Server.connections`
  src/Servers.jl
Labels: none

Add comment
  src/Servers.jl
Labels: none

Version bump
  Project.toml
Labels: none

Version bump
  Project.toml
Labels: none

Introduce `connections_lock` to protect `Server.connections` (#1161)
  Project.toml
  src/Servers.jl
Labels: none

Introduce connections_lock to protect Server.connections (backport 1.9) (#1162)
  Project.toml
  src/Servers.jl
Labels: none

handler error: log request
  src/Servers.jl
Labels: none

handler error: log request (#1163)
  src/Servers.jl
Labels: none

build based on 2de2c78
  dev/changelog/index.html
  dev/client/index.html
  dev/examples/index.html
  dev/index.html
  dev/reference/index.html
  dev/search/index.html
  dev/server/index.html
  dev/websockets/index.html
Labels: none

Make multipart parsing more forgiving: start-of-line and casing
  src/parsemultipart.jl
Labels: none

Add unit test
  test/parsemultipart.jl
Labels: test

Make multipart parsing more forgiving: start-of-line and casing (#1164)
  src/parsemultipart.jl
  test/parsemultipart.jl
Labels: test

HTTP.request(): infer `socket_type_tls` from `sslconfig`, if provided (#1106)
  Project.toml
  src/clientlayers/ConnectionRequest.jl
  test/client.jl
Labels: test

Updated: Rethrow errors so they may be handled outside of WebSocket.open() (#1072)
  src/WebSockets.jl
Labels: none

Define const dir again
  test/runtests.jl
Labels: test

tests: Use ARGS to choose which tests to run (#1108)
  test/runtests.jl
Labels: test

Don't eagerly write response body in case of redirect
  src/clientlayers/StreamRequest.jl
Labels: none

Fix lost response body data. Fixes #1166
  src/IOExtras.jl
Labels: none

Fix lost response body data. Fixes #1166 (#1170)
  src/IOExtras.jl
Labels: none

Set version to 1.10.6.
  Project.toml
Labels: none

Fix 1172
  src/clientlayers/ConnectionRequest.jl
  test/client.jl
Labels: test

Fix 1172 (#1174)
  src/clientlayers/ConnectionRequest.jl
  test/client.jl
Labels: test

bump version to 1.10.7
  Project.toml
Labels: none

Minor cleanup
  test/client.jl
Labels: test

Read a byte rather than messing with strings
  test/client.jl
Labels: test

Tune websocket performance
  src/Connections.jl
  src/WebSockets.jl
Labels: none

Tune websocket performance (#1177)
  src/Connections.jl
  src/WebSockets.jl
Labels: none

Bump version
  Project.toml
Labels: none

Update websockets.md
  docs/src/websockets.md
Labels: none

add case for empty set-cookie header list
  src/cookies.jl
Labels: none

Add a GitHub Actions workflow for regenerating the list of precompile statements
  .github/workflows/precompile.yml
Labels: CI

Reduce the time-to-first-request by adding pregenerated precompile statements
  contrib/precompile_generate.jl
  src/HTTP.jl
  src/precompile.jl
Labels: none

add case for empty set-cookie header list (#1182)
  src/cookies.jl
Labels: none

Fix Julia 1.11 IOBuffer/GenericIOBuffer compat issuewq
  src/Streams.jl
Labels: none

Fix 1.10/1.11 compat issue
  src/Streams.jl
Labels: none

document ssl cert env var
  docs/src/client.md
Labels: none

Remove usage of deprecated verbosity macros
  src/Connections.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/HeadersRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/cookiejar.jl
  src/download.jl
Labels: none
