Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Revert "When monitoring idle connections, only call eof on tcp socket (#912)"
  src/ConnectionPool.jl
Labels: none

Revert "When monitoring idle connections, only call eof on tcp socket (#912)" (#914)
  src/ConnectionPool.jl
Labels: none

Bump version to v1.3.3
  Project.toml
Labels: none

do warn logs
  src/Servers.jl
Labels: none

Do more validation of headers in mkheaders. Fixes #918.
  src/Messages.jl
  test/messages.jl
Labels: test

Do more validation of headers in mkheaders. Fixes #918. (#919)
  src/Messages.jl
  test/messages.jl
Labels: test

Create Invalidations.yml
  .github/workflows/Invalidations.yml
Labels: CI

Create Invalidations.yml (#920)
  .github/workflows/Invalidations.yml
Labels: CI

A couple of typo fixes
  src/HTTP.jl
  src/Streams.jl
Labels: none

fix HTTP.rotuer typo
  docs/src/index.md
Labels: none

doc: fix HTTP.rotuer typo (#926)
  docs/src/index.md
Labels: none

more work
  src/ConnectionPool.jl
Labels: none

Initial support for OpenSSL tls support
  Project.toml
  src/ConnectionPool.jl
  src/IOExtras.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  test/client.jl
Labels: test

make retry work w/ openssl
  src/clientlayers/RetryRequest.jl
Labels: none

Update openssl support
  Project.toml
  src/HTTP.jl
  src/clientlayers/ConnectionRequest.jl
Labels: none

cleanup
  src/HTTP.jl
  src/Servers.jl
  src/clientlayers/ConnectionRequest.jl
  test/client.jl
Labels: test

more cleanup
  test/client.jl
Labels: test

fix
  test/client.jl
Labels: test

fixes
  test/client.jl
Labels: test

Allow support to use OpenSSL for TLS connections (#928)
  Project.toml
  src/ConnectionPool.jl
  src/HTTP.jl
  src/IOExtras.jl
  src/Servers.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/RetryRequest.jl
  test/client.jl
Labels: test

Bump version to 1.4.0
  Project.toml
Labels: none

debuglayer(): fix DEBUG_LEVEL handling
  src/clientlayers/DebugRequest.jl
Labels: none

debuglayer(): clarify docstring
  src/clientlayers/DebugRequest.jl
Labels: none

debuglayer(): fix DEBUG_LEVEL handling (#929)
  src/clientlayers/DebugRequest.jl
Labels: none

Added precompile workload
  Project.toml
  src/HTTP.jl
  src/workload.jl
Labels: none

implement comments and fixed some tests
  src/workload.jl
  test/client.jl
Labels: test

Change debug logs to warn for testing purposes
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/BasicAuthRequest.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ContentTypeRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/cookiejar.jl
  src/download.jl
Labels: none

more debug logs
  src/clientlayers/ConnectionRequest.jl
Labels: none

more debug
  src/clientlayers/ConnectionRequest.jl
Labels: none

debug_log
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/BasicAuthRequest.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ContentTypeRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/cookiejar.jl
  src/download.jl
Labels: none

fixed index from length for a couple of cases
  src/cookies.jl
  src/sniff.jl
Labels: none

fixed index from length for a couple of cases (#932)
  src/cookies.jl
  src/sniff.jl
Labels: none

log exception
  src/clientlayers/ConnectionRequest.jl
Labels: none

Support specifying CA_BUNDLE via env variables
  src/ConnectionPool.jl
  test/client.jl
Labels: test

Support specifying CA_BUNDLE via env variables (#933)
  src/ConnectionPool.jl
  test/client.jl
Labels: test

do not access `code` field if error is EOFError
  src/Servers.jl
  test/server.jl
Labels: test

Update src/Servers.jl
  src/Servers.jl
Labels: none

qualify IOError
  src/Servers.jl
Labels: none

fix check for error message
  test/server.jl
Labels: test

do not access `code` field if error is EOFError (#935)
  src/Servers.jl
  test/server.jl
Labels: test
