Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

docs: note that a manually-set Cookie header is no longer merged with the cookie jar
  docs/src/guides/migration-1x.md
Labels: none

Don't sniff a valid-JSON-prefix as application/json (#1084)
  src/http_sniff.jl
  test/http_forms_tests.jl
Labels: test

Don't sniff a valid-JSON-prefix as application/json (#1084) (#1285)
  src/http_sniff.jl
  test/http_forms_tests.jl
Labels: test

Wire WebSocket read_idle_timeout into the client read loop (#1062)
  src/http_websockets.jl
  test/http_websocket_integration_tests.jl
  test/http_websocket_server_tests.jl
Labels: test

Apply suggestion from @quinnj
  src/http_websockets.jl
Labels: none

fix(websockets): harden read idle deadlines
  src/http_websockets.jl
  test/http_websocket_client_tests.jl
Labels: test

Wire WebSocket read_idle_timeout into the client read loop (#1062)
  src/http_websockets.jl
  test/http_websocket_client_tests.jl
  test/http_websocket_integration_tests.jl
  test/http_websocket_server_tests.jl
Labels: test

Restore merging a manual Cookie header with the jar (de-duped by name)
  src/http_client.jl
  src/http_websockets.jl
  test/http_cookie_tests.jl
Labels: test

Fix precompile workload shutdown
  Project.toml
  src/precompile.jl
  test/precompile_tests.jl
  test/runtests.jl
Labels: test

add methods for Headers construction and treatment
  src/http_core.jl
Labels: none

add tests for new constructor, append! and setindex! for Headers
  test/http_core_tests.jl
Labels: test

Add support for multipart/mixed content type
  src/http_forms.jl
  test/http_multipart_mixed.jl
Labels: test

add multipart/mixed docs
  docs/src/api/core.md
Labels: none

add more tests to improve code coverage
  test/http_multipart_mixed_tests.jl
  test/runtests.jl
Labels: test

add more multipart tests
  test/http_multipart_tests.jl
  test/runtests.jl
Labels: test

Fix precompile workload shutdown (#1289)
  Project.toml
  src/precompile.jl
  test/precompile_tests.jl
  test/runtests.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

fix missing characters in normal_url_char
  src/http_cookies.jl
Labels: none

Track retry count on the request context + expose retry_attempts (#1011, #1019)
  docs/src/api/client.md
  src/http_client.jl
  test/http_retry_tests.jl
Labels: test

Track retry count on the request context + expose retry_attempts (#1011, #1019) (#1295)
  docs/src/api/client.md
  src/http_client.jl
  test/http_retry_tests.jl
Labels: test

Add CookieJar(entries) constructor for restoring saved cookies (#931)
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Add CookieJar(entries) constructor for restoring saved cookies (#931) (#1297)
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Restore merging a manual Cookie header with the jar (de-duped by name) (#1287)
  src/http_client.jl
  src/http_websockets.jl
  test/http_cookie_tests.jl
Labels: test

feat(proxy): add SOCKS5 proxy support via socks5:// and socks5h:// URLs
  Project.toml
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http_client.jl
  src/http_client_url.jl
  src/http_proxy.jl
  src/http_transport.jl
  test/http_client_proxy_tests.jl
Labels: test

test(websockets): relax handshake timeout assertions to 2s
  test/http_websocket_client_tests.jl
Labels: test

ci: temporarily pin Reseau to the SOCKS5 PR head
  .github/workflows/ci.yml
Labels: CI

fix(proxy): harden SOCKS proxy URL parsing and error surfacing
  src/http_proxy.jl
  src/http_transport.jl
  test/http_client_proxy_tests.jl
Labels: test

ci: bump pinned Reseau SHA to the current #123 head
  .github/workflows/ci.yml
Labels: CI

test(proxy): make the ALL_PROXY env test Windows-safe
  test/http_client_proxy_tests.jl
Labels: test

fix(proxy): byte-scan for userinfo to keep juliac trim-safe
  src/http_proxy.jl
Labels: none

Fix invalid doc ref
  src/http2.jl
Labels: none

Rework changes to use HTTP2Settings and automatically compute max buffered bytes
  CHANGELOG.md
  docs/src/api/core.md
  docs/src/guides/protocols.md
  docs/src/index.md
  src/http2.jl
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_server.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
Labels: test

Add HTTP/2 window size options for server and client
  src/http2.jl
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_server.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
Labels: test

Additional tests:
  test/http2_client_tests.jl
  test/http2_server_tests.jl
  test/http2_settings_tests.jl
  test/runtests.jl
Labels: test

add Random to test Project.toml
  test/Project.toml
Labels: test

Move HTTPSettings validation to inner constructor so it's not bypassed when using positional args
  src/http2.jl
Labels: none

test(server): harden raw response probes
  test/http_server_http1_tests.jl
Labels: test

Support unsafe_write for HTTP streams
  src/http_stream.jl
  test/http_client_tests.jl
  test/http_server_http1_tests.jl
Labels: test

test(server): cover empty stream unsafe_write
  test/http_server_http1_tests.jl
Labels: test

fix normal_url_char array and add regression tests
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test
