Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Try some fixes
  .github/workflows/ci.yml
  src/Servers.jl
  test/websockets/websockets.jl
Labels: CI

fix 2
  .github/workflows/ci.yml
  test/websockets/websockets.jl
Labels: CI

try running autobahn as separate job in autobahn docker container
  .github/workflows/ci.yml
  test/runtests.jl
  test/websockets/websockets.jl
Labels: test, CI

try again
  .github/workflows/ci.yml
  test/runtests.jl
Labels: test, CI

try again 3
  .github/workflows/ci.yml
Labels: CI

yet again 4
  .github/workflows/ci.yml
Labels: CI

try again 5
  .github/workflows/ci.yml
Labels: CI

fix again 6
  .github/workflows/ci.yml
Labels: CI

try again 8
  .github/workflows/ci.yml
Labels: CI

try fix 9
  .github/workflows/ci.yml
Labels: CI

give up on windows
  .github/workflows/ci.yml
Labels: CI

update websocket inline docs
  src/WebSockets.jl
Labels: none

Overhaul websockets code (#843)
  .github/workflows/ci.yml
  .gitignore
  Project.toml
  src/HTTP.jl
  src/Servers.jl
  src/WebSockets.jl
  test/mwe.jl
  test/runtests.jl
  test/websockets/config/fuzzingclient.json
  test/websockets/config/fuzzingserver.json
  test/websockets/deno_client/server.jl
  test/websockets/websockets.jl
Labels: test, CI

Use `uint16`
  src/WebSockets.jl
Labels: none

Use internal function uint16 instead of constructor overload of UInt16 (#845)
  src/WebSockets.jl
Labels: none

Use cryptographically secure rand for Sec-WebSocket-Key and client mask
  Project.toml
  src/WebSockets.jl
  test/websockets/autobahn.jl
  test/websockets/config/fuzzingclient.json
  test/websockets/config/fuzzingserver.json
Labels: none

Ensure websocket streams look properly _complete_ to the rest of the HTTP request stack once finished by setting stream.ntoread to 0
  src/WebSockets.jl
Labels: none

try again 1
  test/websockets/autobahn.jl
Labels: none

try again 2
  test/websockets/autobahn.jl
Labels: none

Use cryptographically secure rand for Sec-WebSocket-Key and client mask (#844)
  Project.toml
  src/WebSockets.jl
  test/websockets/autobahn.jl
  test/websockets/config/fuzzingclient.json
  test/websockets/config/fuzzingserver.json
Labels: none

Make HTTP.jl exception types more consistent
  docs/src/internal_interface.md
  docs/src/public_interface.md
  src/ConnectionPool.jl
  src/ConnectionRequest.jl
  src/ExceptionRequest.jl
  src/HTTP.jl
  src/IOExtras.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/TimeoutRequest.jl
  src/exceptions.jl
  test/client.jl
  test/server.jl
Labels: test

rename file
  src/Exceptions.jl
Labels: none

Make HTTP.jl exception types more consistent (#846)
  docs/src/internal_interface.md
  docs/src/public_interface.md
  src/ConnectionPool.jl
  src/ConnectionRequest.jl
  src/ExceptionRequest.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/IOExtras.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/TimeoutRequest.jl
  test/client.jl
  test/server.jl
Labels: test

Allow requests to be retried with request/response streams that support mark/reset
  src/RetryRequest.jl
  src/multipart.jl
Labels: none

Allow requests to be retried with request/response streams that suppo… (#847)
  src/Messages.jl
  src/RedirectRequest.jl
  src/RetryRequest.jl
  src/StreamRequest.jl
  src/Streams.jl
  src/multipart.jl
  test/client.jl
Labels: test

Update all docs/examples to current #master code
  docs/examples/cors_server.jl
  docs/examples/server_sent_events.jl
  docs/examples/simple_server.jl
  docs/examples/squaring_server_client.jl
  src/Handlers.jl
  src/Messages.jl
  src/RetryRequest.jl
Labels: none

fix tests
  test/messages.jl
Labels: test

Update all docs/examples to current #master code (#848)
  docs/examples/cors_server.jl
  docs/examples/server_sent_events.jl
  docs/examples/simple_server.jl
  docs/examples/squaring_server_client.jl
  src/Handlers.jl
  src/Messages.jl
  src/RetryRequest.jl
  test/messages.jl
Labels: test

Clean up API reference page in docs
  docs/src/index.md
  docs/src/internal_architecture.md
  docs/src/internal_interface.md
  docs/src/layers.monopic
  docs/src/public_interface.md
  docs/src/reference.md
  src/ConnectionPool.jl
  src/HTTP.jl
  src/Messages.jl
  src/Strings.jl
  src/clientlayers/BasicAuthRequest.jl
  src/clientlayers/CanonicalizeRequest.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ContentTypeRequest.jl
  src/clientlayers/CookieRequest.jl
  src/clientlayers/DebugRequest.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/MessageRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/cookies.jl
Labels: none

more cleanup
  LICENSE.md
  README.md
  docs/examples/readme_examples.jl
  docs/make.jl
  docs/src/index.md
Labels: ðŸ“– documentation

fix
  docs/src/client.md
  docs/src/server.md
Labels: none

fix 2
  docs/src/reference.md
Labels: none

fix up docs warnings
  docs/src/reference.md
  src/Handlers.jl
  src/cookies.jl
  test/cookies.jl
Labels: test

try depth = 4
  docs/src/reference.md
Labels: none

fix a few references
  src/Exceptions.jl
  src/Handlers.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/multipart.jl
Labels: none

Clean up API reference page in docs (#849)
  LICENSE.md
  README.md
  docs/examples/readme_examples.jl
  docs/make.jl
  docs/src/client.md
  docs/src/index.md
  docs/src/internal_architecture.md
  docs/src/internal_interface.md
  docs/src/layers.monopic
  docs/src/public_interface.md
  docs/src/reference.md
  docs/src/server.md
  src/ConnectionPool.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/Handlers.jl
  src/Messages.jl
  src/Servers.jl
  src/Streams.jl
  src/Strings.jl
  src/WebSockets.jl
  src/clientlayers/BasicAuthRequest.jl
  src/clientlayers/CanonicalizeRequest.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ContentTypeRequest.jl
  src/clientlayers/CookieRequest.jl
  src/clientlayers/DebugRequest.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/MessageRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/cookies.jl
  src/multipart.jl
  test/cookies.jl
Labels: ðŸ“– documentation, test

Start filling out client.md, websockets.md, and server.md doc guides
  docs/src/client.md
  docs/src/index.md
  docs/src/reference.md
  docs/src/server.md
  docs/src/websockets.md
  src/HTTP.jl
  src/Messages.jl
  src/Streams.jl
  src/clientlayers/DefaultHeadersRequest.jl
  src/clientlayers/RedirectRequest.jl
Labels: none

cleanup a few things
  docs/make.jl
  docs/src/client.md
  docs/src/index.md
  docs/src/reference.md
  docs/src/server.md
  src/sniff.jl
Labels: ðŸ“– documentation

fix docs
  docs/src/reference.md
Labels: none

fix again
  docs/src/reference.md
Labels: none
