Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

docs: note HTTP.download migration path
  docs/src/guides/migration-1x.md
Labels: none

2.0 onboarding polish: register! do-block, listenany on WS, timeout wrapping, status field, parse_multipart_form(req), default UA, doc clarifications
  README.md
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  docs/src/guides/protocols.md
  docs/src/guides/server.md
  src/http_client.jl
  src/http_core.jl
  src/http_forms.jl
  src/http_handlers.jl
  src/http_stream.jl
  src/http_websockets.jl
  test/http_client_tests.jl
  test/http_forms_tests.jl
  test/http_websocket_client_tests.jl
Labels: test

perf: server-side throughput optimizations + benchmark suite
  bench/.gitignore
  bench/PARITY_REPORT.md
  bench/REPORT.md
  bench/all.sh
  bench/all_repeated.sh
  bench/parse.jl
  bench/parse_avg.jl
  bench/profile_alloc.jl
  bench/profile_server.jl
  bench/run_bench.sh
  bench/run_profile.sh
  bench/server.jl
  bench/v1/Project.toml
  bench/v2/Project.toml
  src/hpack.jl
  src/http1.jl
  src/http2_server.jl
  src/http_core.jl
  src/http_server.jl
  src/http_transport.jl
Labels: none

fix(http2): avoid response flow-control deadlock
  Project.toml
  src/http2_server.jl
  test/http2_server_tests.jl
Labels: test

test: stabilize nonreplayable redirect on windows
  test/http_client_tests.jl
Labels: test

test: stabilize unsupported expect wire read
  test/http_server_http1_tests.jl
Labels: test

fix(http2): handle text bodies in batched writes
  src/http2_server.jl
  test/http2_server_tests.jl
  test/http_integration_tests.jl
Labels: test

merge: keep pushed http2_server changes; add JSON dev deps to bench
  bench/v2/Project.toml
  src/http2_server.jl
Labels: none

fix: 9 bugs, 5 footguns, 5 doc gaps from round-2 UX fuzz testing
  docs/src/api/core.md
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  docs/src/guides/protocols.md
  docs/src/guides/server.md
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_cookies.jl
  src/http_core.jl
  src/http_server.jl
  src/http_stream.jl
  src/http_transport.jl
  src/http_websockets.jl
  test/http2_client_tests.jl
  test/http_client_tests.jl
  test/http_cookie_tests.jl
  test/http_core_tests.jl
  test/http_server_http1_tests.jl
  test/http_websocket_integration_tests.jl
Labels: test

Add support for passing IO objects to Websockets.open()
  src/Connections.jl
  src/WebSockets.jl
  test/runtests.jl
  test/websockets/raw_io.jl
Labels: test

fix(client): harden cancellation and query defaults
  docs/src/guides/client.md
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_core.jl
  src/http_transport.jl
  test/http2_client_tests.jl
  test/http_client_tests.jl
Labels: test

test(client): tolerate windows bind reuse
  test/http_client_tests.jl
Labels: test

fix(compat): support julia 1.10 import
  src/http_client.jl
  src/http_transport.jl
Labels: none

test(server): avoid windows post reuse flake
  test/http_server_http1_tests.jl
Labels: test

fix(response): keep byte bodies inspectable
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

fix(response): keep byte bodies inspectable (#1254)
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

ci: make checks fail fast and de-flake Windows hangs
  .github/workflows/ci.yml
  test/http_server_http1_tests.jl
Labels: test, CI

ci: make checks fail fast and de-flake Windows hangs (#1256)
  .github/workflows/ci.yml
  test/http_server_http1_tests.jl
Labels: test, CI

feat(websockets): add manual WebSockets.upgrade(f, stream)
  docs/src/guides/migration-1x.md
  src/http_server.jl
  src/http_websockets.jl
  test/http_websocket_integration_tests.jl
Labels: test

docs(websockets): document upgrade and isupgrade in the API reference
  docs/src/api/websockets.md
  src/http_websockets.jl
Labels: none

test(server): looped repro for intermittent Windows write-timeout hang
  test/http_server_http1_tests.jl
Labels: test

test: add hang watchdog that dumps task backtraces on suite timeout
  test/runtests.jl
Labels: test

test(server): bound _read_until_quiet + de-hang write-timeout take!
  test/http_server_http1_tests.jl
Labels: test

test: fold the Windows CI hang fix into the WebSocket PR
  test/http_server_http1_tests.jl
  test/runtests.jl
Labels: test

feat(websockets): add manual WebSockets.upgrade(f, stream) for mixed HTTP/WS servers (#1255)
  docs/src/api/websockets.md
  docs/src/guides/migration-1x.md
  src/http_server.jl
  src/http_websockets.jl
  test/http_server_http1_tests.jl
  test/http_websocket_integration_tests.jl
  test/runtests.jl
Labels: test

Percent-decode userinfo before building Basic auth header (RFC 3986)
  CHANGELOG.md
  src/http_client_url.jl
  test/http_client_proxy_tests.jl
Labels: test

Percent-decode userinfo before building Basic auth header (RFC 3986) (#1259)
  CHANGELOG.md
  src/http_client_url.jl
  test/http_client_proxy_tests.jl
Labels: test

feat(websockets): add isready(ws) to poll for buffered messages
  src/http_websockets.jl
  test/http_websocket_integration_tests.jl
Labels: test

ci: test Reseau Windows IOCP branch
  .github/workflows/ci.yml
Labels: CI

ci: pin Reseau experiment with Pkg.add
  .github/workflows/ci.yml
Labels: CI

ci: skip precompile in Reseau pin step
  .github/workflows/ci.yml
Labels: CI

ci: pin Reseau experiment commit
  .github/workflows/ci.yml
Labels: CI

ci: trace Reseau IOCP errors
  .github/workflows/ci.yml
Labels: CI

fix(transport): preserve early response reads
  .github/workflows/ci.yml
  src/http_transport.jl
Labels: CI

ci: pin Reseau active-op experiment
  .github/workflows/ci.yml
Labels: CI

ci: pin Reseau completion experiment
  .github/workflows/ci.yml
Labels: CI

test(client): drain redirect request body
  test/http_client_tests.jl
Labels: test

ci: trace chunked trailer response path
  .github/workflows/ci.yml
  test/http_server_http1_tests.jl
Labels: test, CI

fix(transport): defer upload write errors after request head
  .github/workflows/ci.yml
  src/http_transport.jl
Labels: CI

test(client): drain parity redirect request body
  .github/workflows/ci.yml
  test/http_parity_tests.jl
  test/http_server_http1_tests.jl
Labels: test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
