Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

test(server): cover ordinary no-body responses
  test/http_server_http1_tests.jl
Labels: test

Support IOBuffer writes for HTTP streams (#1300)
  src/http_stream.jl
  test/http_client_tests.jl
  test/http_server_http1_tests.jl
Labels: test

Harden raw HTTP/1 response probes (#1301)
  test/http_server_http1_tests.jl
Labels: test

prefix isurlchar with HTTP.
  test/http_cookie_tests.jl
Labels: test

use the HT abbreviation instead for cleaner code
  test/http_cookie_tests.jl
Labels: test

define isurlchar correctly in http_cookies_tests.jl (again)
  test/http_cookie_tests.jl
Labels: test

new methods for append! and merge! plus fixes
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

replace `@assert` by if block, fix writemultipartheader(io, ...) for different types
  src/http_forms.jl
  test/http_multipart_tests.jl
Labels: test

WebSocket codec round 1: vectorized masking, single-alloc zero-copy decode
  bench/websocket/codec_micro.jl
  bench/websocket/compare.jl
  bench/websocket/profile_ws.jl
  bench/websocket/proto_mask.jl
  bench/websocket/repro_64k_stall.jl
  bench/websocket/results_r1/v1_trial1.txt
  bench/websocket/results_r1/v1_trial2.txt
  bench/websocket/results_r1/v1_trial3.txt
  bench/websocket/results_r1/v2_trial1.txt
  bench/websocket/results_r1/v2_trial2.txt
  bench/websocket/results_r1/v2_trial3.txt
  bench/websocket/run_baseline.sh
  bench/websocket/ws_bench.jl
  src/http_websocket_codec.jl
Labels: none

WebSocket codec round 2: zero-copy outgoing path, per-chunk alloc elimination
  bench/websocket/profile_ws.jl
  bench/websocket/results_r2/v1_trial1.txt
  bench/websocket/results_r2/v1_trial2.txt
  bench/websocket/results_r2/v1_trial3.txt
  bench/websocket/results_r2/v2_trial1.txt
  bench/websocket/results_r2/v2_trial2.txt
  bench/websocket/results_r2/v2_trial3.txt
  src/http_websocket_codec.jl
  src/http_websockets.jl
  test/http_websocket_codec_tests.jl
Labels: test

bench/websocket: report + ignore raw trial results
  bench/websocket/.gitignore
  bench/websocket/REPORT.md
Labels: none

test(websocket): cover decoder growth path, masking phases, guard, buffer swap
  test/http_websocket_codec_tests.jl
Labels: test

Fix masked websocket writes for non-contiguous payloads
  bench/websocket/results_r1/v1_trial1.txt
  bench/websocket/results_r1/v1_trial2.txt
  bench/websocket/results_r1/v1_trial3.txt
  bench/websocket/results_r1/v2_trial1.txt
  bench/websocket/results_r1/v2_trial2.txt
  bench/websocket/results_r1/v2_trial3.txt
  bench/websocket/results_r2/v1_trial1.txt
  bench/websocket/results_r2/v1_trial2.txt
  bench/websocket/results_r2/v1_trial3.txt
  bench/websocket/results_r2/v2_trial1.txt
  bench/websocket/results_r2/v2_trial2.txt
  bench/websocket/results_r2/v2_trial3.txt
  src/http_websocket_codec.jl
  test/http_websocket_codec_tests.jl
Labels: test

WebSocket performance: vectorized masking + zero-copy codec paths (large messages 0.4x -> 2.5x of 1.x) (#1304)
  bench/websocket/.gitignore
  bench/websocket/REPORT.md
  bench/websocket/codec_micro.jl
  bench/websocket/compare.jl
  bench/websocket/profile_ws.jl
  bench/websocket/proto_mask.jl
  bench/websocket/repro_64k_stall.jl
  bench/websocket/run_baseline.sh
  bench/websocket/ws_bench.jl
  src/http_websocket_codec.jl
  src/http_websockets.jl
  test/http_websocket_codec_tests.jl
Labels: test

Avoid write(::IO, ::String) invalidations from Stream and deadline IO
  src/http_stream.jl
  src/http_transport.jl
Labels: none

Remove invalidation-prone abstract edges from write and websocket paths
  src/http1.jl
  src/http_server_streams.jl
  src/http_transport.jl
Labels: none

Define write(::Stream, ::UInt8) so generic AbstractStrings don't throw
  src/http_stream.jl
  test/http_server_http1_tests.jl
Labels: test

Avoid write(::IO, ::String) invalidations from Stream and IO
  src/http1.jl
  src/http_server_streams.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http_server_http1_tests.jl
Labels: test

Remove temporary Reseau CI pin
  .github/workflows/ci.yml
Labels: CI

test(server): relax Windows raw response probe timeout
  test/http_server_http1_tests.jl
Labels: test

Run the h2 retry tests in CI and cover non-retryable reset codes
  test/http2_refused_stream_retry_tests.jl
  test/runtests.jl
Labels: test

Add failing tests: h2 streams reset with REFUSED_STREAM or rejected by GOAWAY are never retried
  test/http2_refused_stream_retry_tests.jl
Labels: test

h2: retry streams reset with REFUSED_STREAM or rejected by GOAWAY (RFC 9113 8.7)
  src/http2_client.jl
  src/http_client_retry.jl
Labels: none

Address SOCKS proxy review comments
  .github/workflows/ci.yml
  src/http_proxy.jl
Labels: CI

HTTP/2 window size args (#1264)
  CHANGELOG.md
  docs/src/api/core.md
  docs/src/guides/protocols.md
  docs/src/index.md
  src/http2.jl
  src/http2_client.jl
  src/http2_server.jl
  src/http_client.jl
  src/http_server.jl
  test/Project.toml
  test/http2_client_tests.jl
  test/http2_server_tests.jl
  test/http2_settings_tests.jl
  test/runtests.jl
Labels: test

add methods for Headers construction and treatment (#1290)
  src/http_core.jl
  test/http_core_tests.jl
Labels: test

fix boundary error for isurlchar('\u80')
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

fix missing characters in normal_url_char (#1292)
  src/http_cookies.jl
  test/http_cookie_tests.jl
Labels: test

Add SOCKS5 proxy support (socks5:// and socks5h://) (#1299)
  Project.toml
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  src/http_client.jl
  src/http_client_url.jl
  src/http_proxy.jl
  src/http_transport.jl
  test/http_client_proxy_tests.jl
  test/http_server_http1_tests.jl
  test/http_websocket_client_tests.jl
Labels: test

Fix CodeUnits write ambiguity + 500 fallback after deferred startwrite (#1302, #1303)
  src/http_server.jl
  src/http_server_streams.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http_server_http1_tests.jl
Labels: test

test(server): retry raw probes that get no first byte on Windows
  test/http_server_http1_tests.jl
Labels: test

Cover the non-idempotent retry path (RFC 9113 section 8.7) with POST scenarios
  test/http2_refused_stream_retry_tests.jl
Labels: test

test(client): cover codeunits request bodies through the deadline write IO
  test/http_client_tests.jl
Labels: test

Fix CodeUnits write ambiguity + 500 fallback after deferred startwrite (#1302, #1303) (#1305)
  src/http_server.jl
  src/http_server_streams.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http_client_tests.jl
  test/http_server_http1_tests.jl
Labels: test

build based on 8bd18fe
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on 5c15bff
  dev/.documenter-siteinfo.json
  dev/api/client/index.html
  dev/api/core/index.html
  dev/api/reference/index.html
  dev/api/server/index.html
  dev/api/websockets/index.html
  dev/guides/client/index.html
  dev/guides/migration-1x/index.html
  dev/guides/protocols/index.html
  dev/guides/server/index.html
  dev/index.html
  dev/objects.inv
Labels: none

build based on 5c15bff
  v2
  v2.2
  v2.2.0/.documenter-siteinfo.json
  v2.2.0/api/client/index.html
  v2.2.0/api/core/index.html
  v2.2.0/api/reference/index.html
  v2.2.0/api/server/index.html
  v2.2.0/api/websockets/index.html
  v2.2.0/assets/documenter.js
  v2.2.0/assets/themes/catppuccin-frappe.css
  v2.2.0/assets/themes/catppuccin-latte.css
  v2.2.0/assets/themes/catppuccin-macchiato.css
  v2.2.0/assets/themes/catppuccin-mocha.css
  v2.2.0/assets/themes/documenter-dark.css
  v2.2.0/assets/themes/documenter-light.css
  v2.2.0/assets/themeswap.js
  v2.2.0/assets/warner.js
  v2.2.0/guides/client/index.html
  v2.2.0/guides/migration-1x/index.html
  v2.2.0/guides/protocols/index.html
  v2.2.0/guides/server/index.html
  v2.2.0/index.html
  v2.2.0/objects.inv
  v2.2.0/search_index.js
  v2.2.0/siteinfo.js
  versions.js
Labels: none

Fix redirect TLS server name derivation
  src/http_client.jl
  src/http_stream.jl
  test/http_client_tests.jl
  test/resources/localhost-only.crt
  test/resources/localhost-only.key
Labels: test

Fix redirect TLS server name derivation (#1306)
  src/http_client.jl
  src/http_stream.jl
  test/http_client_tests.jl
  test/resources/localhost-only.crt
  test/resources/localhost-only.key
Labels: test
