Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"

Update based on new Pool chnages
  src/Connections.jl
  src/HTTP.jl
  src/Streams.jl
  test/loopback.jl
Labels: test

Updates
  Project.toml
  src/Connections.jl
Labels: none

Parse set-cookie expires with trailing GMT
  src/cookies.jl
  test/client.jl
  test/cookies.jl
Labels: test

Test if addcookie! matches readsetcookies
  test/cookies.jl
Labels: test

cleanup
  src/HTTP.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/MessageRequest.jl
Labels: none

Put back in exception unwrapping
  src/clientlayers/ConnectionRequest.jl
Labels: none

Address PR review
  docs/src/client.md
  src/Connections.jl
  src/HTTP.jl
  src/Servers.jl
  src/clientlayers/MessageRequest.jl
Labels: none

Summary of changes in this PR: (#1034)
  Project.toml
  docs/src/client.md
  docs/src/reference.md
  src/Connections.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/Messages.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/BasicAuthRequest.jl
  src/clientlayers/CanonicalizeRequest.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ContentTypeRequest.jl
  src/clientlayers/CookieRequest.jl
  src/clientlayers/DebugRequest.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/HeadersRequest.jl
  src/clientlayers/MessageRequest.jl
  src/clientlayers/RedirectRequest.jl
  src/clientlayers/RetryRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  src/connectionpools.jl
  test/async.jl
  test/benchmark.jl
  test/client.jl
  test/loopback.jl
  test/runtests.jl
  test/server.jl
  test/try_with_timeout.jl
  test/websockets/autobahn.jl
Labels: test

Parse set-cookie expires with trailing GMT (#1035)
  src/cookies.jl
  test/client.jl
  test/cookies.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Fix qualification of try_with_timeout
  Project.toml
  src/Connections.jl
Labels: none

Fix qualification of try_with_timeout (#1043)
  Project.toml
  src/Connections.jl
Labels: none

Remove uses of at-async in favor of at-spawn. at-async tends to "poison" cooperating tasks to be sticky to the thread that is running them or the parent's task's thread.
  .github/workflows/ci.yml
  Project.toml
  src/Connections.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/IOExtras.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  test/chunking.jl
  test/client.jl
  test/loopback.jl
  test/runtests.jl
  test/try_with_timeout.jl
Labels: test, CI

cleanup
  src/clientlayers/ConnectionRequest.jl
  test/client.jl
Labels: test

add docs for logtag
  docs/src/client.md
  src/HTTP.jl
Labels: none

Remove uses of at-async in favor of at-spawn (#1039)
  .github/workflows/ci.yml
  Project.toml
  docs/src/client.md
  src/Connections.jl
  src/Exceptions.jl
  src/HTTP.jl
  src/IOExtras.jl
  src/Streams.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/ExceptionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  test/chunking.jl
  test/loopback.jl
  test/runtests.jl
  test/try_with_timeout.jl
Labels: test, CI

Fix issue where error response body wasn't being set when readtimeout is specified
  src/clientlayers/MessageRequest.jl
Labels: none

Fix issue where error response body wasn't being set when readtimeout is specified (#1044)
  src/clientlayers/MessageRequest.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Lock request context changes during read/write spawned tasks
  src/clientlayers/StreamRequest.jl
Labels: none

Lock request context changes during read/write spawned tasks (#1046)
  src/clientlayers/StreamRequest.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Also lock changes of request.context in readbody
  src/clientlayers/StreamRequest.jl
Labels: none

Also lock changes of request.context in readbody (#1048)
  src/clientlayers/StreamRequest.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Actually use the lock in readbody
  src/clientlayers/StreamRequest.jl
Labels: none

Actually use the lock in readbody (#1049)
  src/clientlayers/StreamRequest.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

Don't use `===` to compare `nobytes`
  src/Connections.jl
Labels: none

Fix set_default_connection_limit not being respected
  src/Connections.jl
  test/client.jl
Labels: test

Update test/client.jl
  test/client.jl
Labels: test

Fix set_default_connection_limit not being respected (#1053)
  src/Connections.jl
  test/client.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Add description about interactive thread pool
  docs/src/server.md
Labels: none

Update docs/src/server.md
  docs/src/server.md
Labels: none

Add description about interactive thread pool (#1054)
  docs/src/server.md
Labels: none

Don't use `===` to compare `nobytes` (#1052)
  src/Connections.jl
Labels: none

Setup Request.url on the server side
  src/Handlers.jl
Labels: none

Request retries respect response
  src/clientlayers/RetryRequest.jl
Labels: none

Request retries respect response (#1057)
  src/clientlayers/RetryRequest.jl
Labels: none
