Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Hide sensitive header values in `show` (#1127)
  CHANGELOG.md
  src/Messages.jl
  test/messages.jl
Labels: test

Set version to 1.10.1.
  CHANGELOG.md
  Project.toml
Labels: none

Set version to 1.10.1. (#1132)
  CHANGELOG.md
  Project.toml
Labels: none

Close connection without response on status code 444
  src/Servers.jl
  test/server.jl
Labels: test

test: test that HEAD requests don't have return a body
  test/server.jl
Labels: test

Update client.md
  docs/src/client.md
Labels: none

Update client.md (#1135)
  docs/src/client.md
Labels: none

Clarify docstring
  src/HTTP.jl
Labels: none

Clarify docstring (#1139)
  src/HTTP.jl
Labels: none

Don't uses log-with-verbosity macros with `current_exceptions_to_string`
  src/Servers.jl
  src/WebSockets.jl
Labels: none

Delete used IOBuffers constant
  src/clientlayers/StreamRequest.jl
Labels: none

Update readbytes! to avoid using internal API of IOBuffer less
  src/Streams.jl
Labels: none

delete ByteView
  src/IOExtras.jl
Labels: none

Update Streams.jl
  src/Streams.jl
Labels: none

Use `isempty` instead equality with an empty buffer
  src/Connections.jl
Labels: none

Delete used IOBuffers constant (#1146)
  src/clientlayers/StreamRequest.jl
Labels: none

Don't collect exception stack if it won't be logged
  src/Servers.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
Labels: none

Bump version
  Project.toml
Labels: none

Don't collect exception stack if it won't be logged
  src/Servers.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
Labels: none

Bump version
  Project.toml
Labels: none

Don't collect exception stack for log messages that won't be written out (#1150)
  Project.toml
  src/Servers.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
Labels: none

Backport logging improvement from pull/1150 to v1.9 release (#1151)
  Project.toml
  src/Servers.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
Labels: none

delete ByteView (#1149)
  src/Connections.jl
  src/IOExtras.jl
  src/Streams.jl
Labels: none

Implement bodysummary without private APIs
  src/Messages.jl
Labels: none

Update Connections.jl
  src/Connections.jl
Labels: none

Use Base.alloc_request instead of implementing it directly
  src/Connections.jl
Labels: none

Update Streams.jl
  src/Streams.jl
Labels: none

Update Connections.jl
  src/Connections.jl
Labels: none

Update Streams.jl
  src/Streams.jl
Labels: none

Update Streams.jl
  src/Streams.jl
Labels: none

Update Connections.jl
  src/Connections.jl
Labels: none

Run CI all PRs to any branch
  .github/workflows/ci.yml
Labels: CI

Make CI green again (#1128)
  .github/workflows/Invalidations.yml
  test/client.jl
Labels: test, CI

Make CI green again (#1128) (#1152)
  .github/workflows/Invalidations.yml
  test/client.jl
Labels: test, CI

fix some tests relying on implementation details
  src/Streams.jl
  test/client.jl
Labels: test

Update Project.toml
  Project.toml
Labels: none

Update readbytes! to avoid using internal API of IOBuffer less (#1148)
  src/Streams.jl
  test/client.jl
Labels: test

Do not migrate tasks to a different thread pool
  Project.toml
  src/clientlayers/StreamRequest.jl
Labels: none

fix docs typo in client.md
  docs/src/client.md
Labels: none

fix docs typo in client.md (#1160)
  docs/src/client.md
Labels: none

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
