Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

Retry on TimeoutException, as we did in HTTP v1.9
  src/clientlayers/RetryRequest.jl
  test/client.jl
Labels: test

Experiment to get a connection timeout on macOS CI
  test/client.jl
Labels: test

Change logs to use `current_exceptions_to_string()` instead of `exception=` pattern (#1092)
  src/Connections.jl
  src/Exceptions.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  test/server.jl
Labels: test

Bump release to v1.9.16 for #1092
  Project.toml
Labels: none

Backport #1092: Change logs to use current_exceptions_to_string() instead of `exception=` pattern (#1115)
  Project.toml
  src/Connections.jl
  src/Exceptions.jl
  src/Servers.jl
  src/Streams.jl
  src/WebSockets.jl
  src/clientlayers/ConnectionRequest.jl
  src/clientlayers/StreamRequest.jl
  src/clientlayers/TimeoutRequest.jl
  test/server.jl
Labels: test

refactor `newconnection` (no functional change)
  src/Connections.jl
Labels: none

Add function to report metrics for a `HTTP.Connection.Pool`
  src/Connections.jl
Labels: none

fixup! Add function to report metrics for a `HTTP.Connection.Pool`
  src/Connections.jl
Labels: none

fixup! refactor `newconnection` (no functional change)
  src/Connections.jl
Labels: none

fixup! Add function to report metrics for a `HTTP.Connection.Pool`
  src/Connections.jl
Labels: none

Add basic tests for `Connections.metrics`
  test/client.jl
Labels: test

fixup! Add basic tests for `Connections.metrics`
  Project.toml
Labels: none

TEMP add Manifest to allow tests to run
  Manifest.toml
Labels: none

Restrict `is(redirect|error)` to integers
  src/Messages.jl
Labels: none

Fix Handlers.getcookies and add test
  src/Handlers.jl
  test/handlers.jl
Labels: test

Restrict `is(redirect|error)` to integers (#1117)
  src/Messages.jl
Labels: none

Fix Handlers.getcookies and add test (#1119)
  src/Handlers.jl
  test/handlers.jl
Labels: test

Delete test/Manifest.toml
  test/Manifest.toml
Labels: test

Update Servers.jl
  src/Servers.jl
Labels: none

Update ConcurrentUtilities
  Manifest.toml
  src/Connections.jl
  test/client.jl
Labels: test

Remove Manifest.toml now ConUtils 2.3 released
  Manifest.toml
Labels: none

Fix tests for new version of `ConcurrentUtilities`
  test/client.jl
Labels: test

Remove invalidation CI check
  .github/workflows/Invalidations.yml
Labels: CI

Make CI green again (#1128)
  .github/workflows/Invalidations.yml
  test/client.jl
Labels: test, CI

Don't serialize server errors to client.
  src/Servers.jl
  test/client.jl
Labels: test

Don't serialize server errors to client. (#1126)
  src/Servers.jl
  test/client.jl
Labels: test

Use Changelog.jl for changelog maintenance.
  CHANGELOG.md
  docs/Project.toml
  docs/make.jl
Labels: ðŸ“– documentation

Add changelog to the 48 missing releases between 1.0.0 and 1.10.0.
  CHANGELOG.md
  Makefile
Labels: none

Changelog updates (#1129)
  CHANGELOG.md
  Makefile
  docs/Project.toml
  docs/make.jl
Labels: ðŸ“– documentation

Rename from `connection_timeout` -> `connect_timeout`
  test/client.jl
Labels: test

Rename from `connection_timeout` -> `connect_timeout` (#1131)
  test/client.jl
Labels: test

Update src/Messages.jl
  src/Messages.jl
Labels: none

Match start of newline
  src/Messages.jl
Labels: none

move test to messages testing, test case insensitivity
  src/Messages.jl
  test/messages.jl
  test/server.jl
Labels: test

Update src/Messages.jl
  src/Messages.jl
Labels: none

Add test
  test/server.jl
Labels: test

Do masking in show and not in writeheaders; Include other sensitive headers like Cookie and Set-Cookie
  src/Messages.jl
  test/server.jl
Labels: test

use single regex
  src/Messages.jl
  test/messages.jl
Labels: test

Add changelog, mask proxy-authorization
  CHANGELOG.md
  src/Messages.jl
  test/messages.jl
Labels: test

ws
  test/server.jl
Labels: test

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
