Repository JuliaWeb/HTTP.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“– documentation, test, CI

feat(client): accept URIs and refine writes
  Project.toml
  src/HTTP.jl
  src/http_client.jl
  src/http_client_url.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http_client_tests.jl
Labels: test

feat(client): add verbose request logging
  src/HTTP.jl
  src/http_client.jl
  src/http_client_verbose.jl
  src/http_server.jl
  src/http_stream.jl
  src/http_transport.jl
  test/http_client_tests.jl
  test/http_integration_tests.jl
Labels: test

feat(timeouts): add request timeout plumbing
  src/HTTP.jl
  src/http_client.jl
  src/http_client_timeouts.jl
  src/http_server.jl
  src/http_stream.jl
  src/http_websockets.jl
  test/http_client_tests.jl
  test/http_websocket_client_tests.jl
Labels: test

fix(timeouts): enforce connect and header phases
  src/http2_client.jl
  src/http_client.jl
  src/http_client_timeouts.jl
  src/http_transport.jl
  src/http_websockets.jl
  test/http2_client_tests.jl
  test/http_client_tests.jl
  test/http_websocket_client_tests.jl
Labels: test

fix(timeouts): enforce read and write idles
  src/http2_client.jl
  src/http_client_timeouts.jl
  src/http_transport.jl
  src/http_websockets.jl
  test/http2_client_tests.jl
  test/http_client_tests.jl
Labels: test

docs(timeouts): clarify connect timeout scope
  src/http_client.jl
Labels: none

docs(timeouts): update guides and migration notes
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  docs/src/guides/protocols.md
  docs/src/guides/server.md
  docs/src/index.md
Labels: none

feat(server): add request body limiting middleware
  src/http_core.jl
  src/http_handlers.jl
  src/http_server.jl
  test/http2_server_tests.jl
  test/http_handlers_tests.jl
  test/http_server_http1_tests.jl
Labels: test

feat(server): add servecontent with conditionals
  src/http_server.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
Labels: test

feat(server): add static file handlers
  src/http_server.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
Labels: test

feat(handlers): add request handler timeouts
  src/http_core.jl
  src/http_handlers.jl
  test/http2_server_tests.jl
  test/http_handlers_tests.jl
  test/http_server_http1_tests.jl
Labels: test

feat(client): add @client middleware macro
  src/http_client.jl
  src/http_stream.jl
  test/http_client_tests.jl
Labels: test

feat(display): render requests and responses
  src/http_client_verbose.jl
  test/http_client_tests.jl
  test/http_core_tests.jl
Labels: test

feat(precompile): add package workload
  Project.toml
  src/HTTP.jl
  src/precompile.jl
Labels: none

feat(precompile): broaden package workload
  src/HTTP.jl
  src/precompile.jl
  src/precompile_workload.jl
Labels: none

test(precompile): add shared workload smoke test
  test/http_precompile_workload_tests.jl
  test/runtests.jl
Labels: test

test(trim): add minimal live exchange workload
  test/http_trim_client_server.jl
  test/trim_workload_common.jl
Labels: test

fix(precompile): unify workload and readiness
  src/HTTP.jl
  src/http_server.jl
  src/http_websockets.jl
  src/precompile.jl
  src/precompile_workload.jl
  test/http_precompile_workload_tests.jl
  test/http_server_http1_tests.jl
  test/http_websocket_integration_tests.jl
  test/http_websocket_server_tests.jl
  test/runtests.jl
Labels: test

Redesign H1 client response body handling
  src/http_client_verbose.jl
  src/http_core.jl
  src/http_transport.jl
  src/http_websockets.jl
  test/http_trim_client_h1_do.jl
  test/http_trim_client_h1_roundtrip.jl
Labels: test

http: simplify body handling and trim coverage
  CHANGELOG.md
  compile-workloads-pass.md
  server-feature-pass.md
  src/http1.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_client_retry.jl
  src/http_core.jl
  src/http_handlers.jl
  src/http_server.jl
  src/http_sse.jl
  src/http_transport.jl
  src/http_websockets.jl
  src/precompile.jl
  test/http1_wire_tests.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
  test/http_client_proxy_tests.jl
  test/http_client_tests.jl
  test/http_client_transport_tests.jl
  test/http_core_tests.jl
  test/http_handlers_tests.jl
  test/http_integration_tests.jl
  test/http_parity_tests.jl
  test/http_retry_tests.jl
  test/http_server_http1_tests.jl
  test/http_trim_client_h1_do.jl
  test/http_trim_client_h1_raw.jl
  test/http_trim_client_h1_request.jl
  test/http_trim_client_h1_roundtrip.jl
  test/http_trim_client_h1_wire.jl
  test/http_trim_client_h2_roundtrip.jl
  test/http_trim_client_h2_tcp_roundtrip.jl
  test/http_trim_client_h2_wire.jl
  test/http_trim_client_server.jl
  test/http_websocket_client_tests.jl
  test/http_websocket_integration_tests.jl
  test/runtests.jl
  test/trim_compile_tests.jl
Labels: test

http: simplify trim-friendly client and server paths
  CHANGELOG.md
  README.md
  compile-workloads-pass.md
  docs/src/api/client.md
  docs/src/guides/client.md
  docs/src/guides/migration-1x.md
  docs/src/guides/protocols.md
  docs/src/index.md
  src/HTTP.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_client_redirect.jl
  src/http_client_retry.jl
  src/http_client_url.jl
  src/http_client_verbose.jl
  src/http_cookies.jl
  src/http_core.jl
  src/http_display.jl
  src/http_handlers.jl
  src/http_retry.jl
  src/http_server.jl
  src/http_sse.jl
  src/http_stream.jl
  src/http_transport.jl
  src/http_websocket_codec.jl
  src/http_websockets.jl
  src/precompile.jl
  test/http_client_tests.jl
  test/http_core_tests.jl
  test/http_integration_tests.jl
  test/http_retry_tests.jl
  test/http_server_http1_tests.jl
  test/http_trim_client_h1_do.jl
  test/http_trim_client_h1_request.jl
  test/http_trim_client_server.jl
  test/trim_compile_tests.jl
  timeout-pass.md
Labels: test

http: add request tracing and verbose hooks
  docs/src/guides/client.md
  src/http_client.jl
  src/http_client_retry.jl
  src/http_stream.jl
  test/http_client_tests.jl
  test/http_retry_tests.jl
  test/http_trim_client_h1_do.jl
Labels: test

http: restore CI docs and test coverage
  docs/src/api/client.md
  docs/src/api/core.md
  docs/src/api/server.md
  docs/src/guides/client.md
  src/http_client.jl
  src/http_server.jl
  src/http_sse.jl
  test/Project.toml
  test/http_client_proxy_tests.jl
Labels: test

test: stabilize raw HTTP server reads
  test/http_server_http1_tests.jl
Labels: test

test: relax Windows trim compile timeout
  test/trim_compile_tests.jl
Labels: test

test: raise trim runtime timeout on Windows
  test/trim_compile_tests.jl
Labels: test

test: tolerate websocket trim runtime on Windows
  test/trim_compile_tests.jl
Labels: test

http: support text response bodies in servers
  src/http1.jl
  src/http_server.jl
  test/http1_wire_tests.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
Labels: test

test: tolerate h2 trailer shutdown ordering
  test/http2_server_tests.jl
Labels: test

test: tolerate windows trim compile timeouts
  test/trim_compile_tests.jl
Labels: test

server: add fileserver SPA fallback
  src/http_server.jl
  test/http2_server_tests.jl
  test/http_server_http1_tests.jl
Labels: test

http: make fileserver trim-friendly
  src/http_server.jl
  test/fileserver_fixture/assets/app.js
  test/fileserver_fixture/index.html
  test/http_server_http1_tests.jl
  test/http_trim_open_fileserver.jl
Labels: test

ci: bound Windows precompile hangs
  .github/workflows/ci.yml
Labels: CI

test: relax Windows handler timeout budget
  test/http_handlers_tests.jl
Labels: test

precompile: bound HTTP workload hangs
  .github/workflows/ci.yml
  src/precompile.jl
  test/http_handlers_tests.jl
Labels: test, CI

test: extend fileserver trim timeout on Windows
  test/trim_compile_tests.jl
Labels: test

docs: migrate examples from JSON3.jl to JSON.jl v1
  CHANGELOG.md
  docs/examples/cors_server.jl
  docs/examples/simple_server.jl
  test/examples_no_json3.jl
  test/runtests.jl
Labels: test

fix(server): harden streaming length checks
  src/HTTP.jl
  src/http2_client.jl
  src/http_client.jl
  src/http_client_redirect.jl
  src/http_client_retry.jl
  src/http_client_timeouts.jl
  src/http_core.jl
  src/http_handlers.jl
  src/http_retry.jl
  src/http_server.jl
  src/http_stream.jl
  src/http_websocket_codec.jl
  src/http_websockets.jl
  test/http2_client_tests.jl
  test/http2_server_tests.jl
  test/http_client_proxy_tests.jl
  test/http_client_transport_tests.jl
  test/http_core_tests.jl
  test/http_server_http1_tests.jl
  test/http_websocket_client_tests.jl
Labels: test

docs: document canonical HTTP error types
  docs/src/api/core.md
  src/http_core.jl
Labels: none

test: harden timing-sensitive server cases
  test/http_handlers_tests.jl
  test/http_server_http1_tests.jl
Labels: test

.github/labeler.yml:

ðŸ“– documentation: 
- "docs/*"

test:
- "test/*"

CI:
- "**/*.yml"
- ".github/workflows/**/*"
